{% extends "layout.html" %}

{% block pageTitle %}
  Create a job advert – Civil service jobs – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'Your <a href"">feedback</a> will help us to improve.'
})}}
<ul class="js-signout" id="navigation">
  <li class="content">
    <li class="content">user@cabinetoffice.gov.uk</li>
    <li class="content">
    <a href="/search">Home</a>
    </li>
    <li class="content">
      <a href="">Save and sign out</a>
      </li>
      <li class="content">
        <a href="">Cymraeg</a>
        </li>
        </ul>
        {{ govukBackLink({
          text: "Back",
          href: "javascript:history.go(-1)"
        }) }}
        {% endblock %}
{% block content %}

{% set otherHTML %}
{{ govukInput({
  label: {
    text: "What other methods do you want to use at sift?",
    classes: "govuk-label--m",
    isPageHeading: false
  },
  hint: {
    text: "For example, a design portfolio."
  },
  id: "other-method",
  name: "other-method"
}) }}
{% endset %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Assessment methods</span>
    {{ govukCheckboxes({
    idPrefix: "sift",
    name: "sift",
    fieldset: {
      legend: {
        text: "How will you assess at sift?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    hint: {
      text: "Select all that apply."
    },
    items: [
    {
      text: "Behaviour statements"
    },
      {
        text: "CV"
      },
      {
        text: "Personal statement"
      },
      {
        text: "Portfolio"
      },
      {
        text: "Other",
        conditional: {
          html: otherHTML
        }
      }
    ]
    }) }}

{{ govukButton({
  text: "Continue",
  href: "interview-experience"
}) }}
{{ govukButton({
  text: "Preview advert",
  classes: "govuk-button--secondary",
  href: "review-advert"
}) }}
<p><a href="/campaign-set-up/task-list">Save and return to task-list</a></p>

</div>
</div>
{% endblock %}
