{% extends "layout.html" %}

{% block pageTitle %}
  Create a job advert – Civil service jobs – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'Your <a href"">feedback</a> will help us to improve.'
})}}
<ul class="js-signout" id="navigation">
  <li class="content">
    <li class="content">user@cabinetoffice.gov.uk</li>
    <li class="content">
    <a href="/search">Home</a>
    </li>
    <li class="content">
      <a href="">Save and sign out</a>
      </li>
      <li class="content">
        <a href="">Cymraeg</a>
        </li>
        </ul>
        {{ govukBackLink({
          text: "Back",
          href: "javascript:history.go(-1)"
        }) }}
        {% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">The following strengths are recommended for this job role:
    </h1>
    {% set changeHtml %}
    <a href="success-profiles-strengths-change">Change</a>
    {% endset %}

    {{ govukTable({
      caption: "",
      captionClasses: "govuk-table__caption--m",
      firstCellIsHeader: false,
      rows: [
        [
          {
            text: "Analytical"
          },
          {
            html: changeHtml
          }
        ],
        [
          {
            text: "Problem solver"
          },
          {
            html: changeHtml
          }
        ],
        [
          {
            text: "Service focussed"
          },
          {
            html: changeHtml
          }
        ]
      ]
    }) }}

<p><a href="success-profiles-strengths-change">Add another strength</a></p>

{{ govukButton({
  text: "Continue",
  href: "success-profiles-additional"
}) }}
{{ govukButton({
  text: "Preview advert",
  classes: "govuk-button--secondary",
  href: "review-advert"
}) }}
<p><a href="/campaign-set-up/task-list">Save and return to task-list</a></p>

</div>
</div>
{% endblock %}
