{% extends "layout.html" %}

{% block pageTitle %}
  Sifting – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'Your <a href"">feedback</a> will help us to improve.'
})}}
<ul class="js-signout" id="navigation">
  <li class="content">
    <li class="content">user@cabinetoffice.gov.uk</li>
    <li class="content">
    <a href="/search">Home</a>
    </li>
    <li class="content">
      <a href="">Sign out</a>
      </li>
      <li class="content">
        <a href="">Cymraeg</a>
        </li>
        </ul>
        {{ govukBackLink({
          text: "Back",
          href: "javascript:history.go(-1)"
        }) }}
        {% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<span class="govuk-caption-l">1001334</span>
<h1 class="govuk-heading-l">Lead delivery manager</h1>
<h2 class="govuk-heading-m">Large campaign</h2>
<p>There are <b>52</b> applications for the <b>Lead delivery manager</b> post.</p>

<h3 class="govuk-heading-m">Recommended sift process</h3>

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Lead panel"
      },
      value: {
        text: "Jane Smith"
      }
    },
    {
      key: {
        text: "Applications to sift"
      },
      value: {
        text: "18"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "Estimated sift time"
      },
      value: {
        html: "9 hours"
      }
    }
  ]
}) }}
{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Panel member"
      },
      value: {
        text: "Annie Pear"
      }
    },
    {
      key: {
        text: "Applications to sift"
      },
      value: {
        text: "17"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "Estimated sift time"
      },
      value: {
        html: "8.5 hours"
      }
    }
  ]
}) }}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Panel member"
      },
      value: {
        text: "Smith Clark"
      }
    },
    {
      key: {
        text: "Applications to sift"
      },
      value: {
        text: "17"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "Estimated sift time"
      },
      value: {
        html: "8.5 hours"
      }
    }
  ]
}) }}

{{ govukButton({
  text: "Review selected candidates",
  href: "1001334-consensus-meeting"
}) }}



{% endblock %}
