{% extends "layout.html" %}

{% block pageTitle %}
  Sifting – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'Your <a href"">feedback</a> will help us to improve.'
})}}
<ul class="js-signout" id="navigation">
  <li class="content">
    <li class="content">user@cabinetoffice.gov.uk</li>
    <li class="content">
    <a href="/search">Home</a>
    </li>
    <li class="content">
      <a href="">Sign out</a>
      </li>
      <li class="content">
        <a href="">Cymraeg</a>
        </li>
        </ul>
        {{ govukBackLink({
          text: "Back",
          href: "javascript:history.go(-1)"
        }) }}
        {% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<span class="govuk-caption-l">1001334</span>
<h1 class="govuk-heading-l">Customer service advisor</h1>
<h2 class="govuk-heading-m">Online tests</h2>
{{ govukTable({
  caption: "Customer service skills",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: false,
  head: [
    {
      text: "Candidate"
    },
    {
      text: "Score"
    },
    {
      text: "Result"
    }
  ],
  rows: [
    [
      {
        text: "Applicant 2"
      },
      {
        text: "86%"
      },
      {
        html: '<strong class="govuk-tag govuk-tag--green app-task-list__tag" id="contact-details-status">Pass</strong>'
      }
    ],
    [
      {
        text: "Applicant 5"
      },
      {
        text: "79%"
      },
      {
        html: '<strong class="govuk-tag govuk-tag--green app-task-list__tag" id="contact-details-status">Pass</strong>'
      }
    ],
    [
      {
        text: "Applicant 1"
      },
      {
        text: "75%"
      },
      {
        html: '<strong class="govuk-tag govuk-tag--green app-task-list__tag" id="contact-details-status">Pass</strong>'
      }
    ],
    [
      {
        text: "Applicant 7"
      },
      {
        text: "72%"
      },
      {
        html: '<strong class="govuk-tag govuk-tag--green app-task-list__tag" id="contact-details-status">Pass</strong>'
      }
    ],
    [
      {
        text: "Applicant 6"
      },
      {
        text: "68%"
      },
      {
        html: '<strong class="govuk-tag govuk-tag--green app-task-list__tag" id="contact-details-status">Pass</strong>'
      }
    ],
    [
      {
        text: "Applicant 3"
      },
      {
        text: "51%"
      },
      {
        html: '<strong class="govuk-tag govuk-tag--red app-task-list__tag" id="contact-details-status">Fail</strong>'
      }
    ],
    [
      {
        text: "Applicant 4"
      },
      {
        text: "35%"
      },
      {
        html: '<strong class="govuk-tag govuk-tag--red app-task-list__tag" id="contact-details-status">Fail</strong>'
      }
    ],
    [
      {
        text: "Applicant 12"
      },
      {
        text: "34%"
      },
      {
        html: '<strong class="govuk-tag govuk-tag--red app-task-list__tag" id="contact-details-status">Fail</strong>'
      }
    ],
    [
      {
        text: "Applicant 15"
      },
      {
        text: "29%"
      },
      {
        html: '<strong class="govuk-tag govuk-tag--red app-task-list__tag" id="contact-details-status">Fail</strong>'
      }
    ],
    [
      {
        text: "Applicant 11"
      },
      {
        text: "25%"
      },
      {
        html: '<strong class="govuk-tag govuk-tag--red app-task-list__tag" id="contact-details-status">Fail</strong>'
      }
    ],
    [
      {
        text: "Applicant 17"
      },
      {
        text: "22%"
      },
      {
        html: '<strong class="govuk-tag govuk-tag--red app-task-list__tag" id="contact-details-status">Fail</strong>'
      }
    ],
    [
      {
        text: "Applicant 16"
      },
      {
        text: "18%"
      },
      {
        html: '<strong class="govuk-tag govuk-tag--red app-task-list__tag" id="contact-details-status">Fail</strong>'
      }
    ],
    [
      {
        text: "Applicant 31"
      },
      {
        text: "11%"
      },
      {
        html: '<strong class="govuk-tag govuk-tag--red app-task-list__tag" id="contact-details-status">Fail</strong>'
      }
    ],
    [
      {
        text: "Applicant 14"
      },
      {
        text: "5%"
      },
      {
        html: '<strong class="govuk-tag govuk-tag--red app-task-list__tag" id="contact-details-status">Fail</strong>'
      }
    ]
  ]
}) }}
       {% from "govuk/components/pagination/macro.njk" import govukPagination %}
{{ govukPagination({
  previous: {
    href: "#"
  },
  next: {
    href: "#"
  },
  items: [
    {
      number: 1,
      current: true,
      href: "#"
    },
    {
      number: 2,
      href: "#"
    },
    {
      number: 3,
      href: "#"
    }
  ]
}) }}
</div>
</div>
<h3 class="govuk-heading-m"><a href="">Strengths skills</a></h3>
<h3 class="govuk-heading-m"><a href="">Verbal skills</a></h3>
<p><a href="passmark">Change pass mark</a></p>

{{ govukButton({
  text: "Return to vacancy",
  href: "task-list"
}) }}



{% endblock %}
