{% extends "layout.html" %}

{% block pageTitle %}
  Sifting – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'Your <a href"">feedback</a> will help us to improve.'
})}}
<ul class="js-signout" id="navigation">
  <li class="content">
    <li class="content">user@cabinetoffice.gov.uk</li>
    <li class="content">
    <a href="/search">Home</a>
    </li>
    <li class="content">
      <a href="">Sign out</a>
      </li>
      <li class="content">
        <a href="">Cymraeg</a>
        </li>
        </ul>
        {{ govukBackLink({
          text: "Back",
          href: "javascript:history.go(-1)"
        }) }}
        {% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
<span class="govuk-caption-l">1001234</span>
<h1 class="govuk-heading-l">Score applications</h1>
<h2 class="govuk-heading-m">Making effective decisions</h2>
</div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
<p>Understand own level of responsibility and empower others to make decisions where
appropriate. Analyse and use a range of relevant, credible information from internal and
external sources to support decisions. Invite challenge and where appropriate involve
others in decision making. Display confidence when making difficult decisions, even
if they prove to be unpopular. Consult with others to ensure the potential impacts on
end users have been considered. Present strong recommendations in a timely manner
outlining the consideration of other options, costs, benefits and risks.</p>
</div>
<div class="govuk-grid-column-three-quarters">
  <h3 class="govuk-heading-s">1 - Not demonstrated</h3>
  <p>No positive evidence and/or substantial negative evidence demonstrated.</p>
<h3 class="govuk-heading-s">2 - Minimal demonstration</h3>
<p>Limited positive evidence and/or mainly negative evidence demonstrated.</p>
<h3 class="govuk-heading-s">3 - Moderate demonstration</h3>
<p>Moderate positive evidence but some negative evidence demonstrated.</p>
<h3 class="govuk-heading-s">4 - Acceptable demonstration</h3>
<p>Adequate positive evidence and any negative evidence would not cause concern.</p>
<h3 class="govuk-heading-s">5 - Good demonstration</h3>
<p>Substantial positive evidence of the behaviour.</p>
<h3 class="govuk-heading-s">6 - Strong demonstration</h3>
<p>Substantial positive evidence; includes some evidence of exceeding expectations at this level.</p>
<h3 class="govuk-heading-s">7 - Outstanding demonstration</h3>
<p>The evidence provided wholly exceeds expectation at this level.</p>
  </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

                {{ govukSelect({
                id: "score",
                name: "score",
                label: {
                text: "Score",
                classes: "govuk-label--m"
                },
                items: [
                {
                  value: "1",
                  text: "1"
                },
                {
                  value: "2",
                  text: "2"
                },
                {
                  value: "3",
                  text: "3"
                },
                {
                  value: "4",
                  text: "4"
                },
                {
                  value: "5",
                  text: "5"
                },
                {
                  value: "6",
                  text: "6"
                },
                {
                  value: "7",
                  text: "7"
                },
                {
                  value: "---",
                  text: "---",
                  selected: true
                }
                ]
                }) }}

          </div>
            <div class="govuk-grid-column-two-thirds">
          {{ govukSelect({
          id: "reason",
          name: "reason",
          label: {
          text: "Reason",
          classes: "govuk-label--m"
          },
          items: [
          {
            value: "experienceLow",
            text: "Not enough experience"
          },
          {
            value: "experienceHigh",
            text: "High level of experience"
          },
          {
            value: "relevanceLow",
            text: "Not relevant to role"
          },
          {
            value: "relevanceHigh",
            text: "Very relevant to role"
          },
          {
            value: "exampleLow",
            text: "No or poor example given"
          },
          {
            value: "exampleHigh",
            text: "Strong example given"
          },
          {
            value: "---",
            text: "---",
            selected: true
          }
          ]
          }) }}
          </div>
          </div>
          {{ govukInput({
          label: {
          text: "Additional feedback for candidates (optional)"
          },
          classes: "govuk-input--width-50",
          id: "feedback",
          name: "feedback"
          }) }}

          {{ govukInput({
          label: {
          text: "Notes for the panel, not seen by candidate (optional)"
          },
          classes: "govuk-input--width-50",
          id: "feedback",
          name: "feedback"
          }) }}

        <p><a href="task-list">Save and return to tasklist</a></p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full answer-panel">
            <h2 class="govuk-heading-s" id="app2">Applicant 2:</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          </div>
          <p>The candidate will see the score and feedback</p>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-third">

                          {{ govukSelect({
                          id: "score",
                          name: "score",
                          label: {
                          text: "Score",
                          classes: "govuk-label--m"
                          },
                          items: [
                          {
                            value: "1",
                            text: "1"
                          },
                          {
                            value: "2",
                            text: "2"
                          },
                          {
                            value: "3",
                            text: "3"
                          },
                          {
                            value: "4",
                            text: "4"
                          },
                          {
                            value: "5",
                            text: "5"
                          },
                          {
                            value: "6",
                            text: "6"
                          },
                          {
                            value: "7",
                            text: "7"
                          },
                          {
                            value: "---",
                            text: "---",
                            selected: true
                          }
                          ]
                          }) }}

                    </div>
                      <div class="govuk-grid-column-two-thirds">
                    {{ govukSelect({
                    id: "reason",
                    name: "reason",
                    label: {
                    text: "Reason",
                    classes: "govuk-label--m"
                    },
                    items: [
                    {
                      value: "experienceLow",
                      text: "Not enough experience"
                    },
                    {
                      value: "experienceHigh",
                      text: "High level of experience"
                    },
                    {
                      value: "relevanceLow",
                      text: "Not relevant to role"
                    },
                    {
                      value: "relevanceHigh",
                      text: "Very relevant to role"
                    },
                    {
                      value: "exampleLow",
                      text: "No or poor example given"
                    },
                    {
                      value: "exampleHigh",
                      text: "Strong example given"
                    },
                    {
                      value: "---",
                      text: "---",
                      selected: true
                    }
                    ]
                    }) }}
                    </div>
                    </div>
                    {{ govukInput({
                    label: {
                    text: "Additional feedback for candidates (optional)"
                    },
                    classes: "govuk-input--width-50",
                    id: "feedback",
                    name: "feedback"
                    }) }}

                    {{ govukInput({
                    label: {
                    text: "Notes for the panel, not seen by candidate (optional)"
                    },
                    classes: "govuk-input--width-50",
                    id: "feedback",
                    name: "feedback"
                    }) }}

                  <p><a href="task-list">Save and return to tasklist</a></p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full answer-panel">
            <h2 class="govuk-heading-s">Applicant 3:</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

          </div>
          </div>
          <p>The candidate will see the score and feedback</p>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-third">

                          {{ govukSelect({
                          id: "score",
                          name: "score",
                          label: {
                          text: "Score",
                          classes: "govuk-label--m"
                          },
                          items: [
                          {
                            value: "1",
                            text: "1"
                          },
                          {
                            value: "2",
                            text: "2"
                          },
                          {
                            value: "3",
                            text: "3"
                          },
                          {
                            value: "4",
                            text: "4"
                          },
                          {
                            value: "5",
                            text: "5"
                          },
                          {
                            value: "6",
                            text: "6"
                          },
                          {
                            value: "7",
                            text: "7"
                          },
                          {
                            value: "---",
                            text: "---",
                            selected: true
                          }
                          ]
                          }) }}

                    </div>
                      <div class="govuk-grid-column-two-thirds">
                    {{ govukSelect({
                    id: "reason",
                    name: "reason",
                    label: {
                    text: "Reason",
                    classes: "govuk-label--m"
                    },
                    items: [
                    {
                      value: "experienceLow",
                      text: "Not enough experience"
                    },
                    {
                      value: "experienceHigh",
                      text: "High level of experience"
                    },
                    {
                      value: "relevanceLow",
                      text: "Not relevant to role"
                    },
                    {
                      value: "relevanceHigh",
                      text: "Very relevant to role"
                    },
                    {
                      value: "exampleLow",
                      text: "No or poor example given"
                    },
                    {
                      value: "exampleHigh",
                      text: "Strong example given"
                    },
                    {
                      value: "---",
                      text: "---",
                      selected: true
                    }
                    ]
                    }) }}
                    </div>
                    </div>
                    {{ govukInput({
                    label: {
                    text: "Additional feedback for candidates (optional)"
                    },
                    classes: "govuk-input--width-50",
                    id: "feedback",
                    name: "feedback"
                    }) }}

                    {{ govukInput({
                    label: {
                    text: "Notes for the panel, not seen by candidate (optional)"
                    },
                    classes: "govuk-input--width-50",
                    id: "feedback",
                    name: "feedback"
                    }) }}

                  <p><a href="task-list">Save and return to tasklist</a></p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full answer-panel">
            <h2 class="govuk-heading-s">Applicant 4:</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          </div>
              <p>The candidate will see the score and feedback</p>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-third">

                          {{ govukSelect({
                          id: "score",
                          name: "score",
                          label: {
                          text: "Score",
                          classes: "govuk-label--m"
                          },
                          items: [
                          {
                            value: "1",
                            text: "1"
                          },
                          {
                            value: "2",
                            text: "2"
                          },
                          {
                            value: "3",
                            text: "3"
                          },
                          {
                            value: "4",
                            text: "4"
                          },
                          {
                            value: "5",
                            text: "5"
                          },
                          {
                            value: "6",
                            text: "6"
                          },
                          {
                            value: "7",
                            text: "7"
                          },
                          {
                            value: "---",
                            text: "---",
                            selected: true
                          }
                          ]
                          }) }}

                    </div>
                      <div class="govuk-grid-column-two-thirds">
                    {{ govukSelect({
                    id: "reason",
                    name: "reason",
                    label: {
                    text: "Reason",
                    classes: "govuk-label--m"
                    },
                    items: [
                    {
                      value: "experienceLow",
                      text: "Not enough experience"
                    },
                    {
                      value: "experienceHigh",
                      text: "High level of experience"
                    },
                    {
                      value: "relevanceLow",
                      text: "Not relevant to role"
                    },
                    {
                      value: "relevanceHigh",
                      text: "Very relevant to role"
                    },
                    {
                      value: "exampleLow",
                      text: "No or poor example given"
                    },
                    {
                      value: "exampleHigh",
                      text: "Strong example given"
                    },
                    {
                      value: "---",
                      text: "---",
                      selected: true
                    }
                    ]
                    }) }}
                    </div>
                    </div>
                    {{ govukInput({
                    label: {
                    text: "Additional feedback for candidates (optional)"
                    },
                    classes: "govuk-input--width-50",
                    id: "feedback",
                    name: "feedback"
                    }) }}

                    {{ govukInput({
                    label: {
                    text: "Notes for the panel, not seen by candidate (optional)"
                    },
                    classes: "govuk-input--width-50",
                    id: "feedback",
                    name: "feedback"
                    }) }}

                  <p><a href="task-list">Save and return to tasklist</a></p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full answer-panel">

            <h2 class="govuk-heading-s">Applicant 5:</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          </div>
              <p>The candidate will see the score and feedback</p>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-third">

                          {{ govukSelect({
                          id: "score",
                          name: "score",
                          label: {
                          text: "Score",
                          classes: "govuk-label--m"
                          },
                          items: [
                          {
                            value: "1",
                            text: "1"
                          },
                          {
                            value: "2",
                            text: "2"
                          },
                          {
                            value: "3",
                            text: "3"
                          },
                          {
                            value: "4",
                            text: "4"
                          },
                          {
                            value: "5",
                            text: "5"
                          },
                          {
                            value: "6",
                            text: "6"
                          },
                          {
                            value: "7",
                            text: "7"
                          },
                          {
                            value: "---",
                            text: "---",
                            selected: true
                          }
                          ]
                          }) }}

                    </div>
                      <div class="govuk-grid-column-two-thirds">
                    {{ govukSelect({
                    id: "reason",
                    name: "reason",
                    label: {
                    text: "Reason",
                    classes: "govuk-label--m"
                    },
                    items: [
                    {
                      value: "experienceLow",
                      text: "Not enough experience"
                    },
                    {
                      value: "experienceHigh",
                      text: "High level of experience"
                    },
                    {
                      value: "relevanceLow",
                      text: "Not relevant to role"
                    },
                    {
                      value: "relevanceHigh",
                      text: "Very relevant to role"
                    },
                    {
                      value: "exampleLow",
                      text: "No or poor example given"
                    },
                    {
                      value: "exampleHigh",
                      text: "Strong example given"
                    },
                    {
                      value: "---",
                      text: "---",
                      selected: true
                    }
                    ]
                    }) }}
                    </div>
                    </div>
                    {{ govukInput({
                    label: {
                    text: "Additional feedback for candidates (optional)"
                    },
                    classes: "govuk-input--width-50",
                    id: "feedback",
                    name: "feedback"
                    }) }}

                    {{ govukInput({
                    label: {
                    text: "Notes for the panel, not seen by candidate (optional)"
                    },
                    classes: "govuk-input--width-50",
                    id: "feedback",
                    name: "feedback"
                    }) }}

                  <p><a href="task-list">Save and return to tasklist</a></p>

{{ govukButton({
  text: "Score CV and personal statement",
  href: "cv-statement-v2"
}) }}

{% endblock %}
