{% extends "layout.html" %}

{% block pageTitle %}
  Sifting – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'Your <a href"">feedback</a> will help us to improve.'
})}}
<ul class="js-signout" id="navigation">
  <li class="content">
    <li class="content">user@cabinetoffice.gov.uk</li>
    <li class="content">
    <a href="/search">Home</a>
    </li>
    <li class="content">
      <a href="">Sign out</a>
      </li>
      <li class="content">
        <a href="">Cymraeg</a>
        </li>
        </ul>
        {{ govukBackLink({
          text: "Back",
          href: "javascript:history.go(-1)"
        }) }}
        {% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
<span class="govuk-caption-l">1001334</span>
<h1 class="govuk-heading-l">Lead delivery manager</h1>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


{% set otherHTML %}
{{ govukInput({
  label: {
    text: "Enter the interview question"
  },
  id: "other",
  name: "other"
}) }}
{% endset %}
{{ govukCheckboxes({
idPrefix: "waste",
name: "waste",
fieldset: {
legend: {
text: "What behaviour questions will you ask the candidate at interview?",
isPageHeading: true,
classes: "govuk-fieldset__legend--l"
}
},
hint: {
text: "The following are recommended based on the criteria you selected at advert. Select up to 4 questions."
},
items: [
{
value: "bigger-picture1",
html: "<p><b>Seeing the bigger picture</b> Describe a situation where you worked outside of the scope of your role."
},
{
value: "bigger-picture2",
html: "<p><b>Seeing the bigger picture</b> Tell me about a time when you have collaborated with another department in order to deliver a positive outcome."
},
{
value: "bigger-picture3",
html: "<p><b>Seeing the bigger picture</b> Give an example of an achievement which directly contributed to your department goals."
},
{
value: "leadership1",
html: "<p><b>Leadership</b> Describe a time when your leadership skills made a difference."
},
{
value: "leadership2",
html: "<p><b>Leadership</b> Describe a time you had to deal with a difficult stakeholder. How did you handle it and what was the outcome?"
},
{
value: "leadership3",
html: "<p><b>Leadership</b> Tell us about a time when you showed leadership. What did you learn from the experience?"
}
]
}) }}
{{ govukCheckboxes({
idPrefix: "skills",
name: "skills",
fieldset: {
legend: {
text: "What skills and experience questions will you ask the candidate at interview?",
isPageHeading: false,
classes: "govuk-fieldset__legend--l"
}
},
hint: {
text: "The following are recommended based on the criteria you selected at advert. Select up to 4 questions."
},
items: [
{
value: "bigger-picture1",
html: "<p><b>Seeing the bigger picture</b> Describe a situation where you worked outside of the scope of your role."
},
{
value: "bigger-picture2",
html: "<p><b>Seeing the bigger picture</b> Tell me about a time when you have collaborated with another department in order to deliver a positive outcome."
},
{
value: "bigger-picture3",
html: "<p><b>Seeing the bigger picture</b> Give an example of an achievement which directly contributed to your department goals."
},
{
value: "leadership1",
html: "<p><b>Leadership</b> Can you recall a time you identified ways to develop yourself?."
},
{
value: "leadership2",
html: "<p><b>Leadership</b> Tell me about a time when you made a mistake and learned from it."
},
{
value: "leadership3",
html: "<p><b>Leadership</b> How do you know your outputs are up to standard?"
}
]
}) }}


  {{ govukButton({
    text: "Submit interview invites",
    href: "interviews"
  }) }}
            </div>
            </div>
{% endblock %}
