{% extends "layout.html" %}

{% block pageTitle %}
  Sifting – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'Your <a href"">feedback</a> will help us to improve.'
})}}
<ul class="js-signout" id="navigation">
  <li class="content">
    <li class="content">user@cabinetoffice.gov.uk</li>
    <li class="content">
    <a href="/search">Home</a>
    </li>
    <li class="content">
      <a href="">Sign out</a>
      </li>
      <li class="content">
        <a href="">Cymraeg</a>
        </li>
        </ul>
        {{ govukBackLink({
          text: "Back",
          href: "javascript:history.go(-1)"
        }) }}
        {% endblock %}

{% block content %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:history.go(-1)"
}) }}
<div class="govuk-grid-row">
<span class="govuk-caption-l">1001334</span>
<h1 class="govuk-heading-l">Lead delivery manager</h1>

{{ govukTable({
  caption: "Applications",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: false,
  head: [
    {
      text: "",
      classes: 'app-custom-class'
    },
    {
      text: "Behaviour 1",
      classes: 'app-custom-class'
    },
    {
      text: "Behaviour 2",
      classes: 'app-custom-class',
      style: hidden
    },
    {
      text: "Behaviour 3",
      classes: 'app-custom-class'
    },
    {
      text: "Experience 1",
      classes: 'app-custom-class'
    },
    {
      text: "Experience 2",
      classes: 'app-custom-class'
    },
    {
      text: "Experience 3",
      classes: 'app-custom-class'
    },
    {
      text: "Skill 1",
      classes: 'app-custom-class'
    },
    {
      text: "Skill 2",
      classes: 'app-custom-class'
    },
    {
      text: "Total",
      classes: 'app-custom-class'
    }
  ],
  rows: [
    [
      {
        html: "<a href'1001334-applicant-1'>Applicant 1</a>"
      },
      {
        text: "4"
      },
      {
        text: "4"
      },
      {
        text: "4"
      },
      {
        text: "4"
      },
      {
        text: "4"
      },
      {
        text: "4"
      },
      {
        text: "4"
      },
      {
        text: "4"
      },
      {
        text: "32"
      }
    ],
    [
    {
      html: "<a href''>Applicant 2</a>"
    },
    {
      text: "3"
    },
    {
      text: "3"
    },
    {
      text: "3"
    },
    {
      text: "3"
    },
    {
      text: "3"
    },
    {
      text: "3"
    },
    {
      text: "1"
    },
    {
      text: "1"
    },
    {
      text: "20"
    }
    ],
    [
    {
      html: "<a href''>Applicant 3</a>"
    },
    {
      text: "4"
    },
    {
      text: "4"
    },
    {
      text: "4"
    },
    {
      text: "4"
    },
    {
      text: "4"
    },
    {
      text: "4"
    },
    {
      text: "4"
    },
    {
      text: "Not scored"
    },
    {
      text: "28"
    }
    ],
    [
    {
      html: "<a href''>Applicant 4</a>"
    },
    {
      text: "4"
    },
    {
      text: "4"
    },
    {
      text: "4"
    },
    {
      text: "4"
    },
    {
      text: "4"
    },
    {
      text: "4"
    },
    {
      text: "4"
    },
    {
      text: "2"
    },
    {
      text: "30"
    }
    ],
    [
    {
      html: "<a href''>Applicant 5</a>"
    },
    {
      text: "4"
    },
    {
      text: "4"
    },
    {
      text: "5"
    },
    {
      text: "4"
    },
    {
      text: "4"
    },
    {
      text: "5"
    },
    {
      text: "4"
    },
    {
      text: "5"
    },
    {
      text: "35"
    }
    ]
  ]
}) }}

{{ govukButton({
  text: "Submit scores to panel",
  href: "1001334-recommended"
}) }}

<p><a href="task-list">Return to task-list</a></p>
            </div>
            </div>
{% endblock %}
