{% extends "layout.html" %}

{% block pageTitle %}
  Sifting – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'Your <a href"">feedback</a> will help us to improve.'
})}}
<ul class="js-signout" id="navigation">
  <li class="content">
    <li class="content">user@cabinetoffice.gov.uk</li>
    <li class="content">
    <a href="/search">Home</a>
    </li>
    <li class="content">
      <a href="">Sign out</a>
      </li>
      <li class="content">
        <a href="">Cymraeg</a>
        </li>
        </ul>
        {{ govukBackLink({
          text: "Back",
          href: "javascript:history.go(-1)"
        }) }}
        {% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
<span class="govuk-caption-l">1001334</span>
<h1 class="govuk-heading-l">Lead delivery manager</h1>

{% set interviewHTML %}
{{govukTag({
  text: "Interview",
  classes: "govuk-tag--green"
})}}
{% endset %}
{% set holdHTML %}
{{govukTag({
  text: "On hold",
  classes: "govuk-tag--blue"
})}}
{% endset %}
{% set scoreHTML %}
{{govukTag({
  text: "Missing score",
  classes: "govuk-tag--grey"
})}}
{% endset %}
{% set rejectHTML %}
{{govukTag({
  text: "Reject",
  classes: "govuk-tag--red"
})}}
{% endset %}
{% set checkboxHTML %}
{{ govukCheckboxes({
  idPrefix: "proceed",
  name: "proceed",
  classes: "govuk-checkboxes--small",
  fieldset: {
    legend: {
      text: "",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "confirm",
      text: "Confirm recommendation"
    }
  ]
}) }}
{% endset %}

{% set confirmHTML %}
{{ govukCheckboxes({
  idPrefix: "proceed",
  name: "proceed",
  classes: "govuk-checkboxes--small",
  fieldset: {
    legend: {
      text: "",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      value: "confirm",
      text: "Confirm all",
      classes: "govuk-heading-s"
    }
  ]
}) }}
{% endset %}

{{ govukTable({
  caption: "Applications",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: false,
  head: [
    {
      text: "",
      classes: 'app-custom-class'
    },
    {
      text: "Score",
      classes: 'app-custom-class'
    },
    {
      text: "Recommendation",
      classes: 'app-custom-class',
      style: hidden
    },
    {
      html: confirmHTML,
      classes: 'app-custom-class'
    }
  ],
  rows: [
    [
      {
        html: "<a href=''>Applicant 1</a>"
      },
      {
        text: "0"
      },
      {
        html: scoreHTML
      },
      {
        html: checkboxHTML
      }
    ],
    [
      {
        html: "<a href=''>Applicant 2</a>"
      },
      {
        text: "0"
      },
      {
        html: scoreHTML
      },
      {
        html: checkboxHTML
      }
    ],[
      {
        html: "<a href=''>Applicant 3</a>"
      },
      {
        text: "0"
      },
      {
        html: scoreHTML
      },
      {
        html: checkboxHTML
      }
    ],[
      {
        html: "<a href=''>Applicant 4</a>"
      },
      {
        text: "0"
      },
      {
        html: scoreHTML
      },
      {
        html: checkboxHTML
      }
    ],
    [
      {
        html: "<a href=''>Applicant 5</a>"
      },
      {
        text: "0"
      },
      {
        html: scoreHTML
      },
      {
        html: checkboxHTML
      }
    ]
  ]
}) }}

{{ govukButton({
  text: "Submit recommendations",
  href: "1001334"
}) }}
            </div>
            </div>
{% endblock %}
