{% extends "layout.html" %}

{% block pageTitle %}
  Sifting – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:history.go(-1)"
}) }}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
<span class="govuk-caption-l">1001234</span>
<h1 class="govuk-heading-l">Score applicant 1</h1>
<p class="govuk-body-m"><a href="cv">View CV</a></p>
<h2 class="govuk-heading-m">Seeing the Big Picture</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
        {{ govukInput({
        label: {
          text: "Score",
          isPageHeading: false,
          classes: "govuk-label--m"
        },
        classes: "govuk-input--width-2",
        id: "score",
        name: "score"
      }) }}
</div>
      <div class="govuk-grid-column-two-thirds">
{{ govukSelect({
  id: "reason",
  name: "reason",
  label: {
    text: "Reason",
    classes: "govuk-label--m"
  },
  items: [
    {
      value: "example",
      text: "Example"
    },
    {
      value: "experience",
      text: "Experience"
    },
    {
      value: "relevance",
      text: "Relevance to role"
    },
    {
      value: "---",
      text: "---",
      selected: true
    }
  ]
}) }}
</div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<h2 class="govuk-heading-m">Changing and improving</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
        {{ govukInput({
        label: {
          text: "Score",
          isPageHeading: false,
          classes: "govuk-label--m"
        },
        classes: "govuk-input--width-2",
        id: "score",
        name: "score"
      }) }}

    </div>
      <div class="govuk-grid-column-two-thirds">
{{ govukSelect({
  id: "reason",
  name: "reason",
  label: {
    text: "Reason",
    classes: "govuk-label--m"
  },
  items: [
    {
      value: "example",
      text: "Example"
    },
    {
      value: "experience",
      text: "Experience"
    },
    {
      value: "relevance",
      text: "Relevance to role"
    },
    {
      value: "---",
      text: "---",
      selected: true
    }
  ]
}) }}
</div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <h2 class="govuk-heading-m">Making effective decisions</h2>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    </div>
    </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
        {{ govukInput({
        label: {
          text: "Score",
          isPageHeading: false,
          classes: "govuk-label--m"
        },
        classes: "govuk-input--width-2",
        id: "score",
        name: "score"
      }) }}

    </div>
      <div class="govuk-grid-column-two-thirds">
{{ govukSelect({
  id: "reason",
  name: "reason",
  label: {
    text: "Reason",
    classes: "govuk-label--m"
  },
  items: [
    {
      value: "example",
      text: "Example"
    },
    {
      value: "experience",
      text: "Experience"
    },
    {
      value: "relevance",
      text: "Relevance to role"
    },
    {
      value: "---",
      text: "---",
      selected: true
    }
  ]
}) }}
</div>
</div>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <h2 class="govuk-heading-m">Experience working in user-centered design</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
        {{ govukInput({
        label: {
          text: "Score",
          isPageHeading: false,
          classes: "govuk-label--m"
        },
        classes: "govuk-input--width-2",
        id: "score",
        name: "score"
      }) }}

    </div>
      <div class="govuk-grid-column-two-thirds">
{{ govukSelect({
  id: "reason",
  name: "reason",
  label: {
    text: "Reason",
    classes: "govuk-label--m"
  },
  items: [
    {
      value: "example",
      text: "Example"
    },
    {
      value: "experience",
      text: "Experience"
    },
    {
      value: "relevance",
      text: "Relevance to role"
    },
    {
      value: "---",
      text: "---",
      selected: true
    }
  ]
}) }}
</div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <h2 class="govuk-heading-m">Knowledge of design principals</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
        {{ govukInput({
        label: {
          text: "Score",
          isPageHeading: false,
          classes: "govuk-label--m"
        },
        classes: "govuk-input--width-2",
        id: "score",
        name: "score"
      }) }}

    </div>
      <div class="govuk-grid-column-two-thirds">
{{ govukSelect({
  id: "reason",
  name: "reason",
  label: {
    text: "Reason",
    classes: "govuk-label--m"
  },
  items: [
    {
      value: "example",
      text: "Example"
    },
    {
      value: "experience",
      text: "Experience"
    },
    {
      value: "relevance",
      text: "Relevance to role"
    },
    {
      value: "---",
      text: "---",
      selected: true
    }
  ]
}) }}
</div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <h2 class="govuk-heading-m">Experience creating GOV.UK prototypes</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
        {{ govukInput({
        label: {
          text: "Score",
          isPageHeading: false,
          classes: "govuk-label--m"
        },
        classes: "govuk-input--width-2",
        id: "score",
        name: "score"
      }) }}

    </div>
      <div class="govuk-grid-column-two-thirds">
{{ govukSelect({
  id: "reason",
  name: "reason",
  label: {
    text: "Reason",
    classes: "govuk-label--m"
  },
  items: [
    {
      value: "example",
      text: "Example"
    },
    {
      value: "experience",
      text: "Experience"
    },
    {
      value: "relevance",
      text: "Relevance to role"
    },
    {
      value: "---",
      text: "---",
      selected: true
    }
  ]
}) }}
</div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <h2 class="govuk-heading-m">Qualification in web accessibility</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
        {{ govukInput({
        label: {
          text: "Score",
          isPageHeading: false,
          classes: "govuk-label--m"
        },
        classes: "govuk-input--width-2",
        id: "score",
        name: "score"
      }) }}

    </div>
      <div class="govuk-grid-column-two-thirds">
{{ govukSelect({
  id: "reason",
  name: "reason",
  label: {
    text: "Reason",
    classes: "govuk-label--m"
  },
  items: [
    {
      value: "example",
      text: "Example"
    },
    {
      value: "experience",
      text: "Experience"
    },
    {
      value: "relevance",
      text: "Relevance to role"
    },
    {
      value: "---",
      text: "---",
      selected: true
    }
  ]
}) }}
</div>
</div>
{{ govukButton({
  text: "Submit scores",
  href: "1001334"
}) }}

{{ govukButton({
  text: "Next applicant",
  href: "1001334-applicant-2"
}) }}

{% endblock %}
