{% extends "layout.html" %}

{% block pageTitle %}
  Sifting – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:history.go(-1)"
}) }}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
<span class="govuk-caption-l">1001334</span>
<h1 class="govuk-heading-l">Lead delivery manager</h1>
</div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<h2 class="govuk-heading-l"><a href="1001334-table">5 applications</a></h2>
{{ govukButton({
  text: "View all applications",
  href: "1001334-all-applicants"
}) }}
</div>
<div class="govuk-grid-column-one-third">
  <h2 class="govuk-heading-l"><a href="1001334-recommended">5 sifted</a></h2>
  {{ govukButton({
    text: "View advert",
    href: "review-advert",
  classes: "govuk-button--secondary"
  }) }}
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p>Select a criteria below to sift one criteria at a time.</p>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Behaviours</h3>
        <ol class="govuk-list govuk-list--number">
          <li><a href="">Seeing the bigger picture</a></li>
          <li><a href="">Changing and improving</a></li>
          <li><a href="">Making effective decisions</a></li>
          <li><a href="">Leadership</a></li>
        </ol>
        </div>
        <div class="govuk-grid-column-one-third">
          <h3 class="govuk-heading-m">Experience</h3>
          <ol class="govuk-list govuk-list--number">
            <li><a href="">Experience working in user-centered design</a></li>
            <li><a href="">Knowledge of design principals</a></li>
          </ol>
          </div>
          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-m">Skills</h3>
            <ol class="govuk-list govuk-list--number">
            <li><a href="">Experience creating GOV.UK prototypes</a></li>
            <li><a href="">Qualification in web accessibility</a></li>
            </ol>
            </div>
            </div>
{% endblock %}
