{% extends "layout.html" %}

{% block pageTitle %}
  Sifting – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'Your <a href"">feedback</a> will help us to improve.'
})}}
<ul class="js-signout" id="navigation">
  <li class="content">
    <li class="content">user@cabinetoffice.gov.uk</li>
    <li class="content">
    <a href="/search">Home</a>
    </li>
    <li class="content">
      <a href="">Sign out</a>
      </li>
      <li class="content">
        <a href="">Cymraeg</a>
        </li>
        </ul>
        {{ govukBackLink({
          text: "Back",
          href: "javascript:history.go(-1)"
        }) }}
        {% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

<h1 class="govuk-heading-l">Sift</h1>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
</div>
</div>

{{ govukButton({
  text: "Continue"
}) }}

{% endblock %}
