{% extends "layout.html" %}

{% block pageTitle %}
  Sifting – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'Your <a href"">feedback</a> will help us to improve.'
})}}
<ul class="js-signout" id="navigation">
  <li class="content">
    <li class="content">user@cabinetoffice.gov.uk</li>
    <li class="content">
    <a href="/search">Home</a>
    </li>
    <li class="content">
      <a href="">Sign out</a>
      </li>
      <li class="content">
        <a href="">Cymraeg</a>
        </li>
        </ul>
        {{ govukBackLink({
          text: "Back",
          href: "javascript:history.go(-1)"
        }) }}
        {% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-l">Lead delivery manager (1001334)</h1>
<h2 class="govuk-heading-m">Arrange a consensus meeting</h2>

  <p>A consensus meeting can be used to review candidates that either:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>the panel scored them differently</li>
    <p>Or</p>
    <li>the score is very close to a cut-off mark</li>

    <ol class="govuk-list govuk-list--number">
      <li>A consensus meeting can be used to review candidates that either:</li>
      <ul class="govuk-list govuk-list--bullet">
    <li><a href="mailto:user@cabinetoffice.gov.uk">Jane Smith (Lead)</a></li>
    <li><a href="mailto:fictionalperson@cabinetoffice.gov.uk">Smith Clark</a></li>
    <li><a href="mailto:fictionalperson@cabinetoffice.gov.uk">Annie Pear</a></li>
  </ul>
  <li>Review selected candidates. These candidates have been selected either because the panel scored them differently, or the score is very close to a cut-off mark.</li>
<br><li>Decide if you will interview, reject, or place the candidate on hold. On hold means you can decide to interview them at a later date, before provisional offers have been confirmed.</li>
<br>  <li>Proceed to interview set up.</li>
</ol>

{{ govukButton({
  text: "Review selected candidates",
  href: "1001334-consensus-meeting"
}) }}



{% endblock %}
