{% extends "layout.html" %}

{% block pageTitle %}
  Sifting – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'Your <a href"">feedback</a> will help us to improve.'
})}}
<ul class="js-signout" id="navigation">
  <li class="content">
    <li class="content">user@cabinetoffice.gov.uk</li>
    <li class="content">
    <a href="/search">Home</a>
    </li>
    <li class="content">
      <a href="">Sign out</a>
      </li>
      <li class="content">
        <a href="">Cymraeg</a>
        </li>
        </ul>
        {{ govukBackLink({
          text: "Back",
          href: "javascript:history.go(-1)"
        }) }}
        {% endblock %}

{% block content %}
<h1 class="govuk-heading-l">Applicant 1</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

<h2 class="govuk-heading-m">Essential criteria and skills</h2>
<ul class="govuk-list govuk-list--bullet">
  <li>Experience working in user-centered design</li>
  <li>Knowledge of design principals</li>
  <li>Experience creating GOV.UK prototypes</li>
  <li>Qualification in web accessibility</li>
  </ul>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<h2 class="govuk-heading-m">
CV</h2>
<p>
Company Name / Job Title</p>
<p>MONTH 20XX - PRESENT,  LOCATION</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac interdum nisi. Sed in consequat mi. Sed in consequat mi, sed pulvinar lacinia felis eu finibus.</p>
<br></br>
<p>
Company Name / Job Title</p>
<p>MONTH 20XX - PRESENT,  LOCATION</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac interdum nisi. Sed in consequat mi. Sed in consequat mi, sed pulvinar lacinia felis eu finibus.</p>
<br></br>
<p>
Company Name / Job Title</p>
<p>MONTH 20XX - PRESENT,  LOCATION</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac interdum nisi. Sed in consequat mi. Sed in consequat mi, sed pulvinar lacinia felis eu finibus.</p>
<br></br>
<h2 class="govuk-heading-m">Education</h2>

<p>School Name / Degree</p>
<p>MONTH 20XX - MONTH 20XX,  LOCATION</p>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.</p>
<br></br>
<p>School Name / Degree</p>
<p>MONTH 20XX - MONTH 20XX,  LOCATION</p>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.</p>
<br></br>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<h2 class="govuk-heading-m">Supporting statement</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut enim et nisi pretium elementum vitae sed risus. Aliquam quis mauris at arcu tincidunt condimentum a a nunc. Suspendisse ultrices, massa vel facilisis tempor, lorem purus viverra nisi, mattis varius velit tellus vel tellus. Nulla sem massa, porttitor vel quam eget, elementum commodo mauris. In id tincidunt nisl. Maecenas eget semper tortor, in faucibus nibh. Maecenas fringilla sodales purus, et finibus quam vulputate in. Praesent vel erat quis dolor cursus accumsan. Phasellus finibus lacus eget elit semper, quis congue ipsum dapibus. Vestibulum tristique lorem eu lorem viverra lobortis.
</p><p>
Donec sed velit sit amet magna blandit malesuada. Phasellus fringilla mi nisl, quis pharetra augue porttitor ac. Cras auctor est non rhoncus blandit. Vestibulum facilisis, lectus ultricies vehicula tempor, orci elit semper nisi, nec finibus leo dui nec eros. Nunc imperdiet quis tellus at facilisis. Maecenas egestas mauris erat, a fringilla dui sodales et. Pellentesque vel ullamcorper mauris. Sed tempus vel erat sit amet auctor. Aenean interdum consequat est, ac fringilla odio viverra eget. Suspendisse mollis congue ipsum vel dapibus. Mauris volutpat orci in sollicitudin ornare. Vivamus eget lorem dictum, congue enim imperdiet, tristique nisl. Nunc ac arcu vitae est sodales luctus. Proin auctor dictum tellus ac tincidunt.
</p><p>
In sagittis feugiat malesuada. Pellentesque aliquet metus id porttitor vehicula. Sed euismod nisi ex, in fringilla ligula rutrum vitae. Ut sed condimentum libero. Sed non sem non nibh lobortis ultrices vitae in augue. Aliquam nisl urna, vulputate vel leo quis, tempus sollicitudin erat. Praesent imperdiet, massa eget facilisis bibendum, justo libero varius erat, in tristique magna quam ac sapien. Integer in nisl molestie, ullamcorper diam non, fermentum ligula. Suspendisse aliquet ullamcorper lorem, at molestie lectus porta in.
</p><p>
Proin at mollis nibh. Vivamus ultricies lobortis purus id maximus. Integer porttitor, sapien non congue iaculis, est orci vulputate est, ac ornare massa nulla vitae augue. Suspendisse potenti. Vestibulum consequat turpis nec congue lacinia. Vivamus pellentesque, urna id luctus malesuada, dui arcu sodales leo, vitae faucibus nibh enim non nisl. Proin nibh nibh, dapibus eget ultrices dignissim, sagittis ac libero. Vestibulum ipsum eros, placerat ut ultrices et, egestas porttitor tortor. Sed porttitor porttitor finibus. Ut nec rhoncus velit, condimentum dictum felis. Aenean placerat massa quis quam laoreet pharetra. Cras at tincidunt neque.
</p><p>
Vivamus aliquam sodales orci ac lacinia. Nulla hendrerit gravida orci at aliquet. Vestibulum et urna eu magna fermentum placerat faucibus iaculis purus. Phasellus fringilla tempor velit sed fermentum. Aliquam vel orci tempor, vulputate nisi nec, tincidunt mauris. Phasellus nisl ex, interdum consectetur tellus eu, semper efficitur nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a nibh eu ex sollicitudin luctus ut et orci. Vestibulum elementum commodo nulla et posuere. Donec velit turpis, tempus non aliquam ut, sodales sit amet turpis. Sed at orci lacinia sem mattis imperdiet in sit amet sem. Quisque condimentum lacinia arcu pulvinar posuere.
</p><p>
Donec ac lacinia quam. Pellentesque volutpat dapibus semper. Mauris in luctus lectus. Mauris nec lorem a odio dignissim aliquet quis quis dui. Morbi vitae ante id nunc laoreet malesuada non id sem. Vestibulum mattis nulla eu nibh ultricies tincidunt. Sed sit amet ullamcorper elit, nec feugiat enim. Mauris metus mauris, dictum id leo sit amet, faucibus accumsan tellus. Ut egestas at lectus vel varius.
</p><p>
Integer eu nibh enim. Sed dictum porttitor tincidunt. Duis id finibus nunc, sed efficitur mi. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam ligula metus, imperdiet at sem imperdiet, eleifend dapibus felis. Cras ultrices malesuada tempus. Suspendisse nunc velit, fermentum eu vulputate sit amet, condimentum sit amet erat. Nulla fringilla sed nisi vel maximus. Integer fringilla dolor sem, at vulputate felis sagittis eu. Donec sed porta ante. Nullam molestie congue augue, in hendrerit sem sodales non.
</p><p>
Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed sit amet sem massa. Donec orci odio, blandit sit amet velit et, tincidunt mattis ligula. Curabitur id aliquam quam. Aenean finibus augue a turpis porttitor blandit. Aliquam vel blandit dolor, at semper ligula. Aenean at eros in dui malesuada suscipit et dignissim neque.
</p><p>
Fusce id luctus magna, non lacinia lectus. Praesent eget blandit turpis, et ullamcorper enim. Sed accumsan dictum quam. In hac habitasse platea dictumst. Aliquam in lorem eu arcu malesuada scelerisque eget eu libero. Maecenas ac elit et nisi mattis bibendum eu in leo. Cras commodo, nunc id posuere mollis, metus erat tincidunt augue, at porttitor velit magna vel metus.
</p><p>
Suspendisse consequat nisi sit amet cursus iaculis. Proin interdum quam vel felis fermentum, a scelerisque diam suscipit. Duis a leo erat. Sed quis mauris dui. Nam non urna accumsan urna eleifend convallis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque ac velit risus. Sed pharetra interdum porta. Donec quis tempor diam, sit amet semper dolor.
</p><p>
Fusce malesuada tortor at odio scelerisque dapibus. Integer volutpat sem sem, non blandit dui rhoncus eget. Praesent ultrices ante et eros fermentum, eu tristique mi sollicitudin. Duis sed porta magna, quis viverra orci. Nullam ut elit urna. In libero lacus, commodo at eros at, porttitor dapibus dui. Interdum et malesuada fames ac ante ipsum primis in faucibus.
</p><p>
Fusce tristique ultricies justo, eget elementum ipsum pellentesque ut. Cras lacinia risus eu erat blandit consectetur sit amet eu elit. Nullam faucibus convallis eleifend. Morbi sit amet lorem et dolor elementum consectetur sit amet quis erat. Proin non lobortis neque, sit amet sodales tellus. In lobortis purus eget mollis fermentum. Nam ut nisl sit amet neque gravida ultricies. Maecenas orci tortor, sollicitudin vel mollis quis, venenatis non dolor. Pellentesque vehicula sed lacus vel porttitor. Etiam elementum tincidunt molestie.
</p><p>
Vestibulum pellentesque pulvinar ornare. Nulla venenatis vel felis quis volutpat. Nullam tempor velit magna, id commodo justo accumsan at. Mauris in felis vitae diam pulvinar laoreet non et neque. Cras diam turpis, finibus et sagittis sed, porta vel nisi. Phasellus vel sapien urna. Curabitur eros risus, rutrum et condimentum accumsan, luctus vitae nisl. Nam non pharetra est. Vestibulum in risus nulla. Morbi leo risus, molestie in odio eget, euismod blandit urna.
</p><p>
Proin iaculis congue tellus eget euismod. Donec ut mattis sem. Quisque eget purus eu velit volutpat dignissim placerat ac justo. Praesent pharetra nulla sed ligula convallis commodo. Fusce accumsan consectetur nunc id varius. Nam diam justo, mollis sed leo quis, ultricies gravida nulla. Maecenas a massa porta, aliquam elit vel, porttitor est. Donec aliquam lectus a fermentum laoreet. Morbi sed urna tincidunt, viverra nisl id, faucibus elit. Pellentesque ac enim mi. Maecenas feugiat rhoncus diam eu elementum. Ut nec nisi auctor, ultricies dui nec, ultricies neque. Pellentesque placerat nisl id vulputate imperdiet. Integer ante est, consectetur eget purus in, pulvinar pulvinar neque. Etiam mattis nisl in nibh feugiat consectetur. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
</p><p>
Integer luctus nunc in libero luctus facilisis. Integer maximus dapibus dui sollicitudin fermentum. Curabitur sit amet vestibulum lacus. Aliquam pulvinar, ex in porta ultrices, purus lacus malesuada justo, et imperdiet urna lorem et nisl. Nullam ac rutrum eros, id mattis ex. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aenean nisl felis, faucibus id turpis et, suscipit cursus lorem. Etiam vel varius felis. Vivamus maximus sit amet urna a fermentum. Sed.
</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<h3 class="govuk-heading-l">Score applicant 1</h3>

{% set scoreHTML %}
  <h3 class="govuk-heading-s">1 - Not demonstrated</h3>
  <p>No positive evidence and/or substantial negative evidence demonstrated.</p>
<h3 class="govuk-heading-s">2 - Minimal demonstration</h3>
<p>Limited positive evidence and/or mainly negative evidence demonstrated.</p>
<h3 class="govuk-heading-s">3 - Moderate demonstration</h3>
<p>Moderate positive evidence but some negative evidence demonstrated.</p>
<h3 class="govuk-heading-s">4 - Acceptable demonstration</h3>
<p>Adequate positive evidence and any negative evidence would not cause concern.</p>
<h3 class="govuk-heading-s">5 - Good demonstration</h3>
<p>Substantial positive evidence of the behaviour.</p>
<h3 class="govuk-heading-s">6 - Strong demonstration</h3>
<p>Substantial positive evidence; includes some evidence of exceeding expectations at this level.</p>
<h3 class="govuk-heading-s">7 - Outstanding demonstration</h3>
<p>The evidence provided wholly exceeds expectation at this level.</p>
{% endset %}
{{ govukDetails({
  summaryText: "Help with scoring",
  html: scoreHTML
}) }}

{{ govukInsetText({
  text: "The candidate will see the score and feedback."
}) }}

<h3 class="govuk-heading-m">Experience working in user-centered design</h3>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

      {{ govukSelect({
      id: "score",
      name: "score",
      label: {
      text: "Score",
      classes: "govuk-label--m"
      },
      items: [
      {
        value: "1",
        text: "1"
      },
      {
        value: "2",
        text: "2"
      },
      {
        value: "3",
        text: "3"
      },
      {
        value: "4",
        text: "4"
      },
      {
        value: "5",
        text: "5"
      },
      {
        value: "6",
        text: "6"
      },
      {
        value: "7",
        text: "7"
      },
      {
        value: "---",
        text: "---",
        selected: true
      }
      ]
      }) }}

</div>
  <div class="govuk-grid-column-two-thirds">
{{ govukSelect({
id: "reason",
name: "reason",
label: {
text: "Reason",
classes: "govuk-label--m"
},
items: [
{
  value: "experienceLow",
  text: "Not enough experience"
},
{
  value: "experienceHigh",
  text: "High level of experience"
},
{
  value: "relevanceLow",
  text: "Not relevant to role"
},
{
  value: "relevanceHigh",
  text: "Very relevant to role"
},
{
  value: "exampleLow",
  text: "No or poor example given"
},
{
  value: "exampleHigh",
  text: "Strong example given"
},
{
  value: "---",
  text: "---",
  selected: true
}
]
}) }}
</div>
</div>
{{ govukInput({
label: {
text: "Additional feedback for candidates (optional)"
},
classes: "govuk-input--width-50",
id: "feedback",
name: "feedback"
}) }}

{{ govukInput({
label: {
text: "Notes for the panel, not seen by candidate (optional)"
},
classes: "govuk-input--width-50",
id: "feedback",
name: "feedback"
}) }}
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<h3 class="govuk-heading-m">Knowledge of design principals</h3>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

      {{ govukSelect({
      id: "score",
      name: "score",
      label: {
      text: "Score",
      classes: "govuk-label--m"
      },
      items: [
      {
        value: "1",
        text: "1 Not Demonstrated - No positive evidence provided"
      },
      {
        value: "2",
        text: "2 Minimal Demonstration - Limited positive evidence provided"
      },
      {
        value: "3",
        text: "3 Moderate Demonstration - Moderate positive evidence provided"
      },
      {
        value: "4",
        text: "4 Acceptable Demonstration - Adequate positive evidence provided"
      },
      {
        value: "5",
        text: "5 Good Demonstration - Substantial positive evidence provided"
      },
      {
        value: "6",
        text: "6 Strong Demonstration - Substantial, positive evidence provided including some evidence of exceeding expectations"
      },
      {
        value: "7",
        text: "7 Outstanding Demonstration - Evidence provided wholly exceeds expectation at this level"
      },
      {
        value: "---",
        text: "---",
        selected: true
      }
      ]
      }) }}

</div>
  <div class="govuk-grid-column-two-thirds">
{{ govukSelect({
id: "reason",
name: "reason",
label: {
text: "Reason",
classes: "govuk-label--m"
},
items: [
{
  value: "experience",
  text: "Experience"
},
{
  value: "relevance",
  text: "Relevance to role"
},
{
  value: "---",
  text: "---",
  selected: true
}
]
}) }}
</div>
</div>
{{ govukInput({
label: {
text: "Additional feedback for candidates (optional)"
},
classes: "govuk-input--width-50",
id: "feedback",
name: "feedback"
}) }}

{{ govukInput({
label: {
text: "Notes for the panel, not seen by candidate (optional)"
},
classes: "govuk-input--width-50",
id: "feedback",
name: "feedback"
}) }}
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<h3 class="govuk-heading-m">Experience creating GOV.UK prototypes</h3>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

      {{ govukSelect({
      id: "score",
      name: "score",
      label: {
      text: "Score",
      classes: "govuk-label--m"
      },
      items: [
      {
        value: "1",
        text: "Not Demonstrated - No positive evidence provided"
      },
      {
        value: "2",
        text: "Minimal Demonstration - Limited positive evidence provided"
      },
      {
        value: "3",
        text: "Moderate Demonstration - Moderate positive evidence provided"
      },
      {
        value: "4",
        text: "Acceptable Demonstration - Adequate positive evidence provided"
      },
      {
        value: "5",
        text: "Good Demonstration - Substantial positive evidence provided"
      },
      {
        value: "6",
        text: "Strong Demonstration - Substantial, positive evidence provided including some evidence of exceeding expectations"
      },
      {
        value: "7",
        text: "Outstanding Demonstration - Evidence provided wholly exceeds expectation at this level"
      },
      {
        value: "---",
        text: "---",
        selected: true
      }
      ]
      }) }}

</div>
  <div class="govuk-grid-column-two-thirds">
{{ govukSelect({
id: "reason",
name: "reason",
label: {
text: "Reason",
classes: "govuk-label--m"
},
items: [
{
  value: "experience",
  text: "Experience"
},
{
  value: "relevance",
  text: "Relevance to role"
},
{
  value: "---",
  text: "---",
  selected: true
}
]
}) }}
</div>
</div>
{{ govukInput({
label: {
text: "Additional feedback for candidates (optional)"
},
classes: "govuk-input--width-50",
id: "feedback",
name: "feedback"
}) }}

{{ govukInput({
label: {
text: "Notes for the panel, not seen by candidate (optional)"
},
classes: "govuk-input--width-50",
id: "feedback",
name: "feedback"
}) }}
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<h3 class="govuk-heading-m">Qualification in web accessibility</h3>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

      {{ govukSelect({
      id: "score",
      name: "score",
      label: {
      text: "Score",
      classes: "govuk-label--m"
      },
      items: [
      {
        value: "1",
        text: "1"
      },
      {
        value: "2",
        text: "2"
      },
      {
        value: "3",
        text: "3"
      },
      {
        value: "4",
        text: "4"
      },
      {
        value: "5",
        text: "5"
      },
      {
        value: "6",
        text: "6"
      },
      {
        value: "7",
        text: "7"
      },
      {
        value: "---",
        text: "---",
        selected: true
      }
      ]
      }) }}

</div>
  <div class="govuk-grid-column-two-thirds">
{{ govukSelect({
id: "reason",
name: "reason",
label: {
text: "Reason",
classes: "govuk-label--m"
},
items: [
{
  value: "experience",
  text: "Experience"
},
{
  value: "relevance",
  text: "Relevance to role"
},
{
  value: "---",
  text: "---",
  selected: true
}
]
}) }}
</div>
</div>
{{ govukInput({
label: {
text: "Additional feedback for candidates (optional)"
},
classes: "govuk-input--width-50",
id: "feedback",
name: "feedback"
}) }}

{{ govukInput({
label: {
text: "Notes for the panel, not seen by candidate (optional)"
},
classes: "govuk-input--width-50",
id: "feedback",
name: "feedback"
}) }}
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>
</div>
{{ govukButton({
  text: "Next candidate",
  href: ""
}) }}
<p><a href="task-list">Save and return to tasklist</a></p>
{% endblock %}
