{% extends "layout.html" %}

{% block pageTitle %}
  Sifting – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'Your <a href"">feedback</a> will help us to improve.'
})}}
<ul class="js-signout" id="navigation">
  <li class="content">
    <li class="content">user@cabinetoffice.gov.uk</li>
    <li class="content">
    <a href="/search">Home</a>
    </li>
    <li class="content">
      <a href="">Sign out</a>
      </li>
      <li class="content">
        <a href="">Cymraeg</a>
        </li>
        </ul>
        {{ govukBackLink({
          text: "Back",
          href: "javascript:history.go(-1)"
        }) }}
        {% endblock %}

{% block content %}
<h1 class="govuk-heading-l">Applicant 3 CV</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">



<h2 class="govuk-heading-m">
Experience</h2>
<p>
Company Name / Job Title</p>
<p>MONTH 20XX - PRESENT,  LOCATION</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac interdum nisi. Sed in consequat mi. Sed in consequat mi, sed pulvinar lacinia felis eu finibus.</p>
<br></br>
<p>
Company Name / Job Title</p>
<p>MONTH 20XX - PRESENT,  LOCATION</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac interdum nisi. Sed in consequat mi. Sed in consequat mi, sed pulvinar lacinia felis eu finibus.</p>
<br></br>
<p>
Company Name / Job Title</p>
<p>MONTH 20XX - PRESENT,  LOCATION</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac interdum nisi. Sed in consequat mi. Sed in consequat mi, sed pulvinar lacinia felis eu finibus.</p>
<br></br>
<h2 class="govuk-heading-m">Education</h2>

<p>School Name / Degree</p>
<p>MONTH 20XX - MONTH 20XX,  LOCATION</p>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.</p>
<br></br>
<p>School Name / Degree</p>
<p>MONTH 20XX - MONTH 20XX,  LOCATION</p>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.</p>
<br></br>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
{% set scoreHTML %}
  <h3 class="govuk-heading-s">1 - Not demonstrated</h3>
  <p>No positive evidence and/or substantial negative evidence demonstrated.</p>
<h3 class="govuk-heading-s">2 - Minimal demonstration</h3>
<p>Limited positive evidence and/or mainly negative evidence demonstrated.</p>
<h3 class="govuk-heading-s">3 - Moderate demonstration</h3>
<p>Moderate positive evidence but some negative evidence demonstrated.</p>
<h3 class="govuk-heading-s">4 - Acceptable demonstration</h3>
<p>Adequate positive evidence and any negative evidence would not cause concern.</p>
<h3 class="govuk-heading-s">5 - Good demonstration</h3>
<p>Substantial positive evidence of the behaviour.</p>
<h3 class="govuk-heading-s">6 - Strong demonstration</h3>
<p>Substantial positive evidence; includes some evidence of exceeding expectations at this level.</p>
<h3 class="govuk-heading-s">7 - Outstanding demonstration</h3>
<p>The evidence provided wholly exceeds expectation at this level.</p>
{% endset %}
{{ govukDetails({
  summaryText: "Help with scoring",
  html: scoreHTML
}) }}
{{ govukInsetText({
  text: "The candidate will see the score and feedback."
}) }}

<h3 class="govuk-heading-s">Experience working in user-centered design</h3>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

    {{ govukInput({
    label: {
      text: "Score",
      isPageHeading: false,
      classes: "govuk-label--m"
    },
    classes: "govuk-input--width-2",
    id: "score",
    name: "score"
  }) }}
  {% from "govuk/components/select/macro.njk" import govukSelect %}
</div>
  <div class="govuk-grid-column-two-thirds">
{{ govukSelect({
id: "reason",
name: "reason",
label: {
text: "Reason",
classes: "govuk-label--m"
},
items: [
{
  value: "experience",
  text: "Experience"
},
{
  value: "relevance",
  text: "Relevance to role"
},
{
  value: "---",
  text: "---",
  selected: true
}
]
}) }}
</div>
</div>
{{ govukInput({
label: {
text: "Additional feedback (optional)"
},
classes: "govuk-input--width-50",
id: "feedback",
name: "feedback"
}) }}
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<h3 class="govuk-heading-s">Knowledge of design principals</h3>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

    {{ govukInput({
    label: {
      text: "Score",
      isPageHeading: false,
      classes: "govuk-label--m"
    },
    classes: "govuk-input--width-2",
    id: "score",
    name: "score"
  }) }}
  {% from "govuk/components/select/macro.njk" import govukSelect %}
</div>
  <div class="govuk-grid-column-two-thirds">
{{ govukSelect({
id: "reason",
name: "reason",
label: {
text: "Reason",
classes: "govuk-label--m"
},
items: [
{
  value: "experience",
  text: "Experience"
},
{
  value: "relevance",
  text: "Relevance to role"
},
{
  value: "---",
  text: "---",
  selected: true
}
]
}) }}
</div>
</div>
{{ govukInput({
label: {
text: "Additional feedback (optional)"
},
classes: "govuk-input--width-50",
id: "feedback",
name: "feedback"
}) }}
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<h3 class="govuk-heading-s">Experience creating GOV.UK prototypes</h3>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

    {{ govukInput({
    label: {
      text: "Score",
      isPageHeading: false,
      classes: "govuk-label--m"
    },
    classes: "govuk-input--width-2",
    id: "score",
    name: "score"
  }) }}
  {% from "govuk/components/select/macro.njk" import govukSelect %}
</div>
  <div class="govuk-grid-column-two-thirds">
{{ govukSelect({
id: "reason",
name: "reason",
label: {
text: "Reason",
classes: "govuk-label--m"
},
items: [
{
  value: "experience",
  text: "Experience"
},
{
  value: "relevance",
  text: "Relevance to role"
},
{
  value: "---",
  text: "---",
  selected: true
}
]
}) }}
</div>
</div>
{{ govukInput({
label: {
text: "Additional feedback (optional)"
},
classes: "govuk-input--width-50",
id: "feedback",
name: "feedback"
}) }}
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<h3 class="govuk-heading-s">Qualification in web accessibility</h3>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

    {{ govukInput({
    label: {
      text: "Score",
      isPageHeading: false,
      classes: "govuk-label--m"
    },
    classes: "govuk-input--width-2",
    id: "score",
    name: "score"
  }) }}
  {% from "govuk/components/select/macro.njk" import govukSelect %}
</div>
  <div class="govuk-grid-column-two-thirds">
{{ govukSelect({
id: "reason",
name: "reason",
label: {
text: "Reason",
classes: "govuk-label--m"
},
items: [
{
  value: "experience",
  text: "Experience"
},
{
  value: "relevance",
  text: "Relevance to role"
},
{
  value: "---",
  text: "---",
  selected: true
}
]
}) }}
</div>
</div>
{{ govukInput({
label: {
text: "Additional feedback (optional)"
},
classes: "govuk-input--width-50",
id: "feedback",
name: "feedback"
}) }}
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>
</div>
{{ govukButton({
  text: "Next candidate",
  href: "cv-statement"
}) }}

{% endblock %}
