
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      CS Jobs - sift prototype
      <span class="govuk-caption-xl">{{releaseVersion}}</span>
    </h1>{{releaseVersion | log }}

<div class="govuk-tabs" data-module="govuk-tabs">
 <h2 class="govuk-tabs__title">
   Contents
 </h2>
 <ul class="govuk-tabs__list">
   <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
     <a class="govuk-tabs__tab" href="#shortcuts">
       Shortcuts
     </a>
   </li>
   <li class="govuk-tabs__list-item">
     <a class="govuk-tabs__tab" href="#versions">
       Changes
     </a>
   </li>
   </ul>
   <div class="govuk-tabs__panel" id="shortcuts">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        GOV.UK Prototype Kit
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      <h2 class="govuk-heading-m">Sift</h2>
      <h3 class="govuk-heading-s">Dashboards</h3>

          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="/user-profile">Vacancy holder profile</a>
            </li>
            <li>
              <a href="/user-profile-panel">Panel member profile</a>
            </li>
            <li>
              <a href="/profile-update">Update vacancy holder profile</a>
            </li>
            <li>
              <a href="one-vacancy">One vacancy</a>
            </li>
            <li>
              <a href="all-vacancies">All vacancies</a>
            </li>
            <li>
              <a href="1001334">1001334 task list - Lead delivery manager job (small)</a>
            </li>
            <li>
              <a href="bulk/task-list">1001333 task list- Customer service advisor (bulk)</a>
            </li>
</ul>
<h3 class="govuk-heading-s">Candidate additional information</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>
    <a href="schemes">Schemes</a>
  </li>
  <li>
    <a href="pre-sift-questions">Eliminating criteria</a>
  </li>
  <li>
    <a href="online-tests">Online tests</a>
  </li>
  </ul>
            <h3 class="govuk-heading-s">Scoring</h3>
          <ul class="govuk-list govuk-list--bullet">

            <li>
              <a href="1001334-applicant-1">Applicant 1 full application</a>
            </li>
            <li>
              <a href="cv-statement-v2-app2">Applicant 2 CV only sift</a>
            </li>
            <li>
              <a href="cv-v2">Applicant 3 CV only sift (v2 - long page)</a>
            </li>
            <li>
              <a href="cv-and statement">Applicant 4 CV and statement sift (v1 - side by side)</a>
            </li>
            <li>
              <a href="cv-statement-v2">Applicant 5 CV and statement sift (v2 - long page)</a>
            </li>
            <li>
              <a href="1001334-score-bigger-picture">Multi-applicants: Score bigger picture</a>
            </li>
            <li>
              <a href="1001334-score-changing">Multi-applicants: Score Changing and improving</a>
            </li>
            <li>
              <a href="1001334-score-changing">Multi-applicants: Making effective decisions</a>
            </li>
            <li>
              <a href="1001334-table">Score status</a>
            </li>
          </ul>
          <h3 class="govuk-heading-s">Results process</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="1001334-table">Score status</a>
            </li>
            <li>
              <a href="1001334-panel-results">View panel results (lead panel member only)</a>
            </li>
            <li>
              <a href="consensus">Panel consensus meeting set up</a>
            </li>
            <li>
              <a href="1001334-consensus-meeting">Panel consensus meeting review</a>
            </li>
</ul>
<h3 class="govuk-heading-s">Interview process</h3>
<ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="1001334-interview">Invite to interview</a>
            </li>
            <li>
              <a href="1001334-interview-questions">Interview questions</a>
            </li>
            </ul>
          <h3 class="govuk-heading-s">Bulk campaign process</h3>
          <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="bulk/1001334-score-bigger-picture">Score behaviour - bigger picture</a>
          </li>
          <li>
            <a href="bulk/panel">Bulk panel selection</a>
          </li>
          <li>
            <a href="bulk/panel">Bulk task-list</a>
          </li>
          </ul>

          <h2 class="govuk-heading-m">Documents</h2>
          <p><a href="https://cshrdigitalandanalysis.atlassian.net/l/cp/vwuvbgvK">Confluence page</a></p>
          <p><a href="https://docs.google.com/document/d/1QcjQGwzPvYtb-eVrsD-vmBLvxzKLW7BHOKF03EcunQ8/edit">Content crit</a></p>

          </div>
          </div>
          </div>
          <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="versions">

            <table class="govuk-table">
                        <caption class="govuk-table__caption govuk-heading-m">Previously tested versions</caption>
                        <thead class="govuk-table__head">
                          <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Version</th>
                            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Tested on</th>
                            <th scope="col" class="govuk-table__header govuk-!-width-two-thirds">Changes</th>
                            <th scope="col" class="govuk-table__header govuk-!-width-one-eighth">Status</th>
                          </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                          <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">
                              <a href="https://conf-statement-mvp-v1.herokuapp.com/">Version 1</th>
                              <td class="govuk-table__cell">W/C 5 Sept 2022</td>
                              <td class="govuk-table__cell">
                                <details class="govuk-details" data-module="govuk-details">
                                  <summary class="govuk-details__summary">
                                    <span class="govuk-details__summary-text">
                                      Version 1
                                    </span>
                                  </summary>
                                  <div class="govuk-details__text">
                                    <ul class="govuk-list--bulletlist">
                                      <li>
                                        <a class="govuk-link" href="https://csj-prototype.herokuapp.com/sift">sifting methods and formatting (CV only, CV and personal statement, behaviours)</a>
                                      </li>
                                      <li>
                                        <a class="govuk-link" href="https://csj-prototype.herokuapp.com/sift">Vacancy screen</a>
                                      </li>
                                      <li>
                                        <a class="govuk-link" href="https://csj-prototype.herokuapp.com/sift">vacancy dashboard</a>
                                      </li>
                                      <li>
                                        <a class="govuk-link" href="https://csj-prototype.herokuapp.com/sift">Applicant tables</a>
                                      </li>
                                      <li>
                                        <a class="govuk-link" href="https://csj-prototype.herokuapp.com/sift">Consensus panels</a>
                                      </li>
                                      <li>
                                        <a class="govuk-link" href="https://csj-prototype.herokuapp.com/sift">Interview set up</a>
                                      </li>
                                    </ul>
                                  </div>
                                </details>
                              </td>
                              <td class="govuk-table__cell">
                                <strong class="govuk-tag govuk-tag--green">
                                  Tested
                                </strong>
                              </tr>
                            </tbody>
                          </table>
                                        </div>
                                        </div>
                                        </div>
                                        </div>

{% endblock %}
