{% extends "layout.html" %}

{% block pageTitle %}
  Sift applications – Civil service jobs – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'Your <a href"">feedback</a> will help us to improve.'
})}}
<ul class="js-signout" id="navigation">
  <li class="content">
    <li class="content">user@cabinetoffice.gov.uk</li>
    <li class="content">
    <a href="/search">Home</a>
    </li>
    <li class="content">
      <a href="">Save and sign out</a>
      </li>
      <li class="content">
        <a href="">Cymraeg</a>
        </li>
        </ul>
        {{ govukBackLink({
          text: "Back",
          href: "javascript:history.go(-1)"
        }) }}
        {% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Lead delivery manager (1001334)</h1>

    <ol class="app-task-list">
      <li>
        <h2 class="app-task-list__section">Applicants
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="1001334-applicant-1" aria-describedby="eligibility-status">
                Applicant 1
              </a>
            </span>
            <strong class="govuk-tag app-task-list__tag" id="contact-details-status">Completed</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="pre-sift-questions" aria-describedby="eligibility-status">
                Applicant 2
              </a>
            </span>
            <strong class="govuk-tag app-task-list__tag" id="contact-details-status">Completed</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="online-tests" aria-describedby="eligibility-status">
                Applicant 3
              </a>
            </span>
            <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">In progress</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="online-tests" aria-describedby="eligibility-status">
                Applicant 4
              </a>
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="contact-details-status">Not started</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="online-tests" aria-describedby="eligibility-status">
                Applicant 5
              </a>
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="contact-details-status">Not started</strong>
          </li>
        </ul>
        </li>
</ol>
  </div>
</div>

{% endblock %}
