{% extends "layout.html" %}

{% block pageTitle %}
  Create a job advert – Civil service jobs – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'Your <a href"">feedback</a> will help us to improve.'
})}}
<ul class="js-signout" id="navigation">
  <li class="content">
    <li class="content">user@cabinetoffice.gov.uk</li>
    <li class="content">
    <a href="/search">Home</a>
    </li>
    <li class="content">
      <a href="">Save and sign out</a>
      </li>
      <li class="content">
        <a href="">Cymraeg</a>
        </li>
        </ul>
        {% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">




{{ govukRadios({
  idPrefix: "sign-in",
  name: "sign-in",
  fieldset: {
    legend: {
      text: "Who can apply?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
  {
    value: "government-gateway",
    text: "External",
    checked: true,
    hint: {
      text: "Everyone will be able to see and apply for this vacancy."
    }
  },
    {
      value: "government-gateway",
      text: "Across Government",
      hint: {
        text: "Only civil servants will be able to see and apply for this vacancy."
      }
    },
    {
      value: "government-gateway",
      text: "Internal",
      hint: {
        text: "Only employees in your departmental group can see and apply for this vacancy."
      }
    },
    {
      value: "govuk-verify",
      text: "Pre-release",
      hint: {
        text: "This is for mananged moves such as redeployment"
      }
    }
  ]
}) }}


{{ govukButton({
  text: "Continue",
  href: "approval"
}) }}
<p><a href="/campaign-set-up/task-list">Save and return to task-list</a></p>

</div>
</div>
{% endblock %}
