{% extends "layout.html" %}

{% block pageTitle %}
  Create a job advert – Civil service jobs – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'Your <a href"">feedback</a> will help us to improve.'
})}}
<ul class="js-signout" id="navigation">
  <li class="content">
    <li class="content">user@cabinetoffice.gov.uk</li>
    <li class="content">
    <a href="/search">Home</a>
    </li>
    <li class="content">
      <a href="">Save and sign out</a>
      </li>
      <li class="content">
        <a href="">Cymraeg</a>
        </li>
        </ul>
        {% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-l">Enter the basic details</h1>
<p>The job title should explain the seniority and role.

{{ govukInput({
  label: {
    text: "What is the job title?",
    isPageHeading: false,
    classes: "govuk-label--m"
  },
  classes: "govuk-input--width-20",
  id: "job-title",
  name: "job-title",
  value: "Senior Interaction designer"
}) }}
{% set deptHtml %}
{{ govukInput({
  id: "contact-by-phone",
  name: "contact-by-phone",
  type: "tel",
  autocomplete: "tel",
  classes: "govuk-!-width-one-third",
  label: {
    text: "Enter the department"
  }
}) }}
{% endset -%}

{{ govukRadios({
  idPrefix: "contact",
  name: "contact",
  fieldset: {
    legend: {
      text: "Is this role for Home Office?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes",
      checked: true
    },
    {
      value: "no",
      text: "No",
      conditional: {
        html: deptHtml
      }
    }
  ]
}) }}

{{ govukSelect({

  id: "sort",
  name: "sort",
  label: {
    text: "Select the grade of the role",
    classes: "govuk-label--m"
  },
  items: [
    {
      value: "published",
      text: "AA"
    },
    {
      value: "updated",
      text: "AO"
    },
    {
      value: "views",
      text: "EO"
    },
    {
      value: "comments",
      text: "HEO"
    },
    {
      value: "comments",
      text: "SEO",
      selected: true
    },
    {
      value: "comments",
      text: "Grade 7"
    }
  ]
}) }}



{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  idPrefix: "where-do-you-live",
  name: "where-do-you-live",
  fieldset: {
    legend: {
      text: "How long should the advert be live?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "Most vacancies are live for 2 weeks"
  },
  items: [
    {
      value: "2",
      text: "2 weeks",
      checked: true
    },
    {
      value: "3",
      text: "3 weeks"
    },
    {
      value: "4",
      text: "4 weeks"
    }
  ]
}) }}

{{ govukInput({
  label: {
    text: "How many posts are available?",
    isPageHeading: false,
    classes: "govuk-label--m"
  },
  classes: "govuk-input--width-3",
  id: "posts",
  name: "posts"
}) }}


{{ govukButton({
  text: "Continue",
  href: "job-entry"
}) }}
<p><a href="/campaign-set-up/task-list">Save and return to task-list</a></p>

</div>
</div>
{% endblock %}
