{% extends "layout.html" %}

{% block pageTitle %}
  Create a job advert – Civil service jobs – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'Your <a href"">feedback</a> will help us to improve.'
})}}
<ul class="js-signout" id="navigation">
  <li class="content">
    <li class="content">user@cabinetoffice.gov.uk</li>
    <li class="content">
    <a href="/search">Home</a>
    </li>
    <li class="content">
      <a href="">Save and sign out</a>
      </li>
      <li class="content">
        <a href="">Cymraeg</a>
        </li>
        </ul>
        {{ govukBackLink({
          text: "Back",
          href: "locations"
        }) }}
        {% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<span class="govuk-caption-l">Contract information</span>
    <h1 class="govuk-heading-l">Contract details / salary details</h1>

    {{ govukSelect({
    id: "contract",
    name: "contract",
    label: {
      text: "Contract type"
    },
    items: [
      {
        value: "apprenticeship",
        text: "Apprenticeship"
      },
      {
        value: "assisted",
        text: "Assisted transfter"
      },
      {
        value: "fixed",
        text: "Fixed term"
      },
      {
        value: "internship",
        text: "Internship"
      },
      {
        value: "loan",
        text: "Loan"
      },
      {
        value: "overseas",
        text: "Overseas"
      },
      {
        value: "permanent",
        text: "Permanent"
      },
      {
        value: "temporary",
        text: "Temporary"
      }
    ]
  }) }}
  {{ govukSelect({
  id: "working-pattern",
  name: "working-pattern",
  label: {
    text: "Working pattern"
  },
  items: [
    {
      value: "annualised",
      text: "Annualised hours"
    },
    {
      value: "compressed",
      text: "Compressed hours"
    },
    {
      value: "flexible working",
      text: "Flexible working"
    },
    {
      value: "fulltime",
      text: "Full-time"
    },
    {
      value: "homeworking",
      text: "Homeworking"
    },
    {
      value: "jobshare",
      text: "Job share"
    },
    {
      value: "permanent",
      text: "Permanent"
    },
    {
      value: "temporary",
      text: "Temporary"
    }
  ]
  }) }}

    {{ govukCheckboxes({
      idPrefix: "negotiable",
      name: "negotiable",
      classes: "govuk-checkboxes--small",
      fieldset: {
        legend: {
          text: "",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "negotiable",
          text: "Check the box if this is negotiable"
        }
      ]
    }) }}
    {{ govukInput({
  id: "cost",
  name: "cost",
  label: {
    text: "What is the minimum salary?",
    classes: "govuk-label--m",
    isPageHeading: false
  },
  prefix: {
    text: "£"
  },
  classes: "govuk-input--width-5",
  spellcheck: false,
  value: "34,556"
}) }}
{{ govukCheckboxes({
  idPrefix: "negotiable",
  name: "negotiable",
  classes: "govuk-checkboxes--small",
  fieldset: {
    legend: {
      text: "",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "negotiable",
      text: "Check the box if this is negotiable"
    }
  ]
}) }}

{% set otherHTML %}
{{ govukTextarea({
  name: "other",
  id: "other",
  label: {
    text: "Tell us about the additional allowances",
    classes: "govuk-label--s",
    isPageHeading: false
  },
  hint: {
    text: "You may be contacted to provide more details, including approval."
  }
}) }}
{% endset %}

    {{ govukRadios({
      idPrefix: "allowances",
      name: "allowances",
      fieldset: {
        legend: {
          text: "Are there additional allowances connected to this role?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: [
      {
        value: "yes",
        text: "Yes",
        conditional: {
          html: otherHTML
        }
      },
      {
          value: "no",
          text: "No"
        }
      ]
    }) }}

    {{ govukRadios({
      idPrefix: "advert-time",
      name: "advert-time",
      fieldset: {
        legend: {
          text: "How long should the advert be live?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: "Most vacancies are live for 2 weeks"
      },
      items: [
        {
          value: "2",
          text: "2 weeks",
          checked: true
        },
        {
          value: "3",
          text: "3 weeks"
        },
        {
          value: "4",
          text: "4 weeks"
        }
      ]
    }) }}

{{ govukButton({
  text: "Continue",
  href: "benefits"
}) }}
{{ govukButton({
  text: "Preview advert",
  classes: "govuk-button--secondary",
  href: "review-advert"
}) }}
<p><a href="/campaign-set-up/task-list">Save and return to task-list</a></p>

</div>
</div>
{% endblock %}
