
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        CS Jobs - campaign set up prototype
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}

      <div class="govuk-tabs" data-module="govuk-tabs">
       <h2 class="govuk-tabs__title">
         Contents
       </h2>
       <ul class="govuk-tabs__list">
         <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
           <a class="govuk-tabs__tab" href="#shortcuts">
             Shortcuts
           </a>
         </li>
         <li class="govuk-tabs__list-item">
           <a class="govuk-tabs__tab" href="#versions">
             Changes
           </a>
         </li>
         </ul>
         <div class="govuk-tabs__panel" id="shortcuts">
      <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <br>
      <h2 class="govuk-heading-m">Screens</h2>
      <h3 class="govuk-heading-s">Entry to the service</h3>
      <ul class="govuk-list govuk-list--bullet">

        <li><a href="step-by-step">Step-by-step navigation</a>
          </li>
          <li><a href="start">Start page</a>
            </li>
            <li> <a href="sign-in">Sign in</a> </li>
            </ul>
            <h3 class="govuk-heading-s">Job library</h3>
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="skills-or-title">Job library entry title/profession/skills</a>
                </li>
                <li><a href="job-library">Job library by job title</a>
                  </li>
            <li><a href="job-library-profession">Job library by profession</a>
              </li>
              <li><a href="skills">Job library by skills</a>
                </li>
              <li><a href="job-library-profession-2">Jobs title recommendations</a>
                </li>
                <li><a href="job-library-profession-3">Seniority of job</a>
                  </li>
              </ul>
              <h3 class="govuk-heading-s">Talent pool</h3>
              <ul class="govuk-list govuk-list--bullet">
                <li><a href="reserves-found">Reserve candidates</a>
                  </li>
                </ul>
                <h3 class="govuk-heading-s">Building the vacancy</h3>
                <ul class="govuk-list govuk-list--bullet">
        <li><a href="task-list">Task-list</a>
          </li>
        </ul>
        <h3 class="govuk-heading-s">About the vacancy</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="basic-details">Basic details</a>
          </li>
          <li><a href="job-entry">Job entry form</a>
          </li>
        </ul>
        <h3 class="govuk-heading-s">Contract information</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="locations">Locations</a>
          </li>
          <li><a href="contract-details">Contract details</a>
          </li>
          <li><a href="contact-details">Contact details</a>
          </li>
          <li><a href="reserved-status">Reserved status, checking, and vetting</a>
          </li>
        </ul>
        <h3 class="govuk-heading-s">Advert set up</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="success-profiles">Success profiles</a>
            </li>
            <li><a href="about-the-role">About the role</a>
              </li>
              <li><a href="pre-sift-questions">Pre-sift questions</a>
                </li>
                <li><a href="additional-info">Additional information (links for advert)</a>
                  </li>

                </ul>
                <h3 class="govuk-heading-s">Recruitment channels</h3>
                <ul class="govuk-list govuk-list--bullet">
          <li><a href="approach">Approach</a>
          </li>
          <li><a href="approval">Approval</a>
          </li>
          <li><a href="approval-upload">Approval upload</a>
          </li>
          <li><a href="reserve-list">Reserve list</a>
          </li>
          <li><a href="attraction-methods">Attraction methods</a>
          </li>
        </ul>

        <h3 class="govuk-heading-s">Sifting and selection methods</h3>
        <ul class="govuk-list govuk-list--bullet">
          <h3 class="govuk-heading-s">Assessment methods (a. opt-in)</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="success-profiles">Do you have essential requirements?</a>
              </li>
              <li><a href="success-profiles-criteria">What is the essential criteria?</a>
                </li>
                <li><a href="online-tests">Do you require online tests?</a>
                  </li>
                  <li><a href="success-profiles-written">What will you sift against?</a>
                    </li>
                    <li><a href="success-profiles-interview">What will you interview?</a>
                      </li>
                      <li><a href="success-profiles-1">Recommended behaviours</a>
                        </li>
                        <li><a href="success-profiles-technical">Recommended technical skills</a>
                          </li>
                          <li><a href="success-profiles-experience">Recommended experience</a>
                            </li>
                            <li><a href="success-profiles-strengths">Recommended strengths</a>
                                </li>
                                <li><a href="success-profiles-strengths-change">Change recommended strengths</a>
                                    </li>
                                <li><a href="success-profiles-additional">Additional assessment methods</a>
                                  </li>
                                  <li><a href="success-profiles-cya">Check your assessment method answers</a>
                                    </li>
                                    </ul>
              <h3 class="govuk-heading-s">Assessment methods (b. opt-out)</h3>
              <ul class="govuk-list govuk-list--bullet">
                <li><a href="assessment-method-2/behaviours">What behaviours will you assess?</a>
                  </li>
                  <li><a href="assessment-method-2/sift-or-interview">What behaviours will you assessen will you assess the behaviours?</a>
                  </li>
                  <li><a href="assessment-method-2/online-tests">What online tests do you require?</a>
                  </li>
                  <li><a href="assessment-method-2/sift-evidence">What evidence will you sift against?</a>
                  </li>
                  <li><a href="assessment-method-2/sift-experience">What experience will you sift against?</a>
                  </li>
                  <li><a href="assessment-method-2/interview-evidence">What will you assess at interview?</a>
                  </li>
                  <li><a href="assessment-method-2/interview-experience">What experience will assess you interview?</a>
                  </li>
                  <li><a href="assessment-method-2/other-methods">Do you require any additional assessment stages?</a>
                  </li>
                  <li><a href="assessment-method-2/summary">Check your answers</a>
                  </li>
                  </ul>
                  <h3 class="govuk-heading-s">Assessment methods (c. methods first)</h3>
                  <ul class="govuk-list govuk-list--bullet">
                    <li><a href="assessment-method-1/job-criteria">What is your job criteria?</a>
                      </li>
                      <li><a href="assessment-method-1/assess">How will you assess the candidate?</a>
                        </li>
                        <li><a href="assessment-method-1/cv">What criteria will you assess for CV?</a>
                          </li>
                          <li><a href="assessment-method-1/statement">What criteria will you assess on the supporting statement?</a>
                            </li>
                            <li><a href="assessment-method-1/online-tests">What criteria will you assess via online tests?</a>
                              </li>
                              <li><a href="assessment-method-1/technical">What technical skills will you assess via online tests?</a>
                                </li>
                                <li><a href="assessment-method-1/online-tests">What criteria will you assess at interview?</a>
                                  </li>
                              <li><a href="assessment-method-1/summary">Check your answers</a>
                                </li>
                    </ul>
          <li><a href="interviews">Interviews</a>
          </li>
        </ul>
        <h3 class="govuk-heading-s">Review and manage</h3>
        <ul class="govuk-list govuk-list--bullet">

          <li><a href="review-advert">Review advert</a>
          </li>
          <li><a href="vacancy-management">Manage vacancy</a>
          </li>
          </ul>
          <h2 class="govuk-heading-m">Documents</h2>

              <p><a href="https://app.mural.co/t/civilservicerecruitment8943/m/civilservicerecruitment8943/1659338941373/d4d230dee41b59c6e17c86f533872a22987e6f33?sender=ud92bfa668d30229f00232376">Assessment methods flow diagrams</a></p>
</div>
</div>
</div>
 <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="versions">
   <table class="govuk-table">
               <caption class="govuk-table__caption govuk-heading-m">Previously tested versions</caption>
               <thead class="govuk-table__head">
                 <tr class="govuk-table__row">
                   <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Version</th>
                   <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Tested on</th>
                   <th scope="col" class="govuk-table__header govuk-!-width-two-thirds">Changes</th>
                   <th scope="col" class="govuk-table__header govuk-!-width-one-eighth">Status</th>
                 </tr>
               </thead>
               <tbody class="govuk-table__body">
                 <tr class="govuk-table__row">
                   <th scope="row" class="govuk-table__header">
                     <a href="https://conf-statement-mvp-v1.herokuapp.com/">Version 2</th>
                     <td class="govuk-table__cell">15th August</td>
                     <td class="govuk-table__cell">
                       <details class="govuk-details" data-module="govuk-details">
                         <summary class="govuk-details__summary">
                           <span class="govuk-details__summary-text">
                             Version 2
                           </span>
                         </summary>
                         <div class="govuk-details__text">
                           <ul class="govuk-list--bulletlist">
                             <li>
                               <a class="govuk-link" href="https://csj-prototype.herokuapp.com/campaign-set-up/skills-or-title">Entry point to the service</a>
                             </li>
                             <li>
                               <a class="govuk-link" href="https://csj-prototype.herokuapp.com/campaign-set-up/job-library">Job title entry</a>
                             </li>
                             <li>
                               <a class="govuk-link" href="https://csj-prototype.herokuapp.com/campaign-set-up/job-library-professions">Additional profession and content update</a>
                             </li>
                             <li>
                               <a class="govuk-link" href="https://csj-prototype.herokuapp.com/campaign-set-up/job-library-profession-3">Grade added to seniority screen</a>
                             </li>
                             <li>
                               <a class="govuk-link" href="https://csj-prototype.herokuapp.com/campaign-set-up/task-list">Re-ordered the task-list, updated the tags</a>
                             </li>
                             <li>
                               <a class="govuk-link" href="https://csj-prototype.herokuapp.com/campaign-set-up/basic-details">Removed how long post advertised</a>
                             </li>
                             <li>
                               <a class="govuk-link" href="https://csj-prototype.herokuapp.com/campaign-set-up/review-advert">Preview advert button added to all screens</a>
                             </li>
                             <li>
                               <a class="govuk-link" href="https://csj-prototype.herokuapp.com/campaign-set-up/job-entry">Removed skills. prepopulated information</a>
                             </li>
                             <li>
                               <a class="govuk-link" href="https://csj-prototype.herokuapp.com/campaign-set-up/locations-2">Location entry screen added</a>
                             </li>
                             <li>
                               <a class="govuk-link" href="https://csj-prototype.herokuapp.com/campaign-set-up/contract-details">Added drop downs, additional questions</a>
                             </li>
                             <li>
                               <a class="govuk-link" href="https://csj-prototype.herokuapp.com/campaign-set-up/benefits">Benefits screen added</a>
                             </li>
                             <li>
                               <a class="govuk-link" href="https://csj-prototype.herokuapp.com/campaign-set-up/about-the-role">Content changes, prepoluated info</a>
                             </li>
                             <li>
                               <a class="govuk-link" href="https://csj-prototype.herokuapp.com/campaign-set-up/basic-details">Removed how long post advertised</a>
                             </li>
                             <li>
                               <a class="govuk-link" href="https://csj-prototype.herokuapp.com/campaign-set-up/attraction-methods">Attraction methods screen added</a>
                             </li>
                             <li>
                               <a class="govuk-link" href="https://csj-prototype.herokuapp.com/campaign-set-up/assessment-method/success-profiles">Assessment methods journey option 1</a>
                             </li>
                             <li>
                               <a class="govuk-link" href="https://csj-prototype.herokuapp.com/campaign-set-up/assessment-method-1/job-criteria">Assessment methods journey option 2</a>
                             </li>
                             <li>
                               <a class="govuk-link" href="https://csj-prototype.herokuapp.com/campaign-set-up/vacancy-management">Vacancy management screen added</a>
                             </li>
                           </ul>
                         </div>
                       </details>
                     </td>
                     <td class="govuk-table__cell">
                       <strong class="govuk-tag govuk-tag--green">
                         Tested
                       </strong>
                     </tr>
                 <tr class="govuk-table__row">
                   <th scope="row" class="govuk-table__header">
                     <a href="https://conf-statement-mvp-v1.herokuapp.com/">Version 1</th>
                     <td class="govuk-table__cell">25th July</td>
                     <td class="govuk-table__cell">
                       <details class="govuk-details" data-module="govuk-details">
                         <summary class="govuk-details__summary">
                           <span class="govuk-details__summary-text">
                             Version 1
                           </span>
                         </summary>
                         <div class="govuk-details__text">
                           <ul class="govuk-list--bulletlist">
                             <li>
                               <a class="govuk-link" href="https://csj-prototype.herokuapp.com/campaign-set-up/index">First release</a>
                             </li>
                           </ul>
                         </div>
                       </details>
                     </td>
                     <td class="govuk-table__cell">
                       <strong class="govuk-tag govuk-tag--green">
                         Tested
                       </strong>
                     </tr>
                 </tbody>
               </table>
</div>
</div>
    </div>
  </div>

{% endblock %}
