
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        CS Jobs - campaign set up prototype
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      <h2 class="govuk-heading-l">Campaign set up</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="step-by-step">Step-by-step navigation</a>
          </li>
          <li><a href="start">Start page</a>
            </li>
        <li><a href="task-list">Task-list</a>
          </li>
          <li><a href="basic-details">Basic details</a>
          </li>
          <li><a href="job-entry">Job entry form</a>
          </li>
          <li><a href="success-profiles">Success profiles</a>
            </li>
            <li><a href="about-the-role">About the role</a>
              </li>
              <li><a href="pre-sift-questions">Pre-sift questions</a>
                </li>
                <li><a href="additional-info">Additional information (links for advert)</a>
                  </li>
          <li><a href="approach">Approach</a>
          </li>
          <li><a href="approval">Approval</a>
          </li>
          <li><a href="approval-upload">Approval upload</a>
          </li>
          <li><a href="reserve-list">Reserve list</a>
          </li>
          <li><a href="locations">Locations</a>
          </li>
          <li><a href="contract-details">Contract details</a>
          </li>
          <li><a href="contact-details">Contact details</a>
          </li>
          <li><a href="reserved-status">Reserved status, checking, and vetting</a>
          </li>
          <li><a href="interviews">Interviews</a>
          </li>
          <li><a href="online-tests">Online tests</a>
          </li>
          <li><a href="attraction-methods">Attraction methods</a>
          </li>
          <li><a href="review-advert">Review advert</a>
          </li>
          <li><a href="manage-vacancy">Manage vacancy</a>
          </li>
          </ul>
          <h2 class="govuk-heading-l">Job library</h2>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="job-library">Search all titles (version A)</a>
              </li>
              <li><a href="job-library-profession">Job library profession (version B)</a>
                </li>
                <li><a href="job-library-profession-2">Jobs related to profession</a>
                  </li>
                  <li><a href="reserves-found">reserve candidates</a>
                    </li>
              </ul>


    </div>
  </div>

{% endblock %}
