{% extends "layout.html" %}

{% block pageTitle %}
  Create a job advert – Civil service jobs – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'Your <a href"">feedback</a> will help us to improve.'
})}}
<ul class="js-signout" id="navigation">
  <li class="content">
    <li class="content">user@cabinetoffice.gov.uk</li>
    <li class="content">
    <a href="/search">Home</a>
    </li>
    <li class="content">
      <a href="">Save and sign out</a>
      </li>
      <li class="content">
        <a href="">Cymraeg</a>
        </li>
        </ul>
        {{ govukBackLink({
          text: "Back",
          href: "basic-details"
        }) }}
        {% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-l">Job information</h1>

{% set jobTypeHtml %}
<strong class="govuk-tag govuk-tag--grey">
  Inactive
</strong>
{% endset %}

{{ govukInput({
  label: {
    text: "What is the business area?",
    classes: "govuk-label--m"
  },
  classes: "govuk-input--width-20",
  id: "business-area",
  name: "business-area",
  value: "Product"
}) }}



<br></br><br></br>
<div class="govuk-form-group govuk-input--width-30">
        <label for="autocomplete-default" class="govuk-label--m">Which profession is this role?</label>

        <div id="profession" class="autocomplete-wrapper" value="Digital, data, and technology"></div>
      </div>

      {{ govukTextarea({
      name: "more-detail",
      id: "more-detail",
      label: {
      text: "What does the team do?",
      classes: "govuk-label--m",
      isPageHeading: false
      },
      hint: {
      text: "Explain how the role would fit in."
      },
      value: "this information is pulled from your profile. It tells the candidate about the team they will be working in. You can format the text with bullet points etc."

      }) }}

{{ govukButton({
  text: "Continue",
  href: "success-profiles"
}) }}
<p><a href="/campaign-set-up/task-list">Save and return to task-list</a></p>

<script src="/public/javascripts/accessible-autocomplete.js"></script>
<script src="/public/javascripts/profession.js"></script>
{% endblock %}
