{% extends "layout.html" %}

{% block pageTitle %}
  Create a job advert – Civil service jobs – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'Your <a href"">feedback</a> will help us to improve.'
})}}
<ul class="js-signout" id="navigation">
  <li class="content">
    <li class="content">user@cabinetoffice.gov.uk</li>
    <li class="content">
    <a href="/search">Home</a>
    </li>
    <li class="content">
      <a href="">Sign out</a>
      </li>
      <li class="content">
        <a href="">Cymraeg</a>
        </li>
        </ul>
        {% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-l">Find a job role</h1>

{% set otherHtml %}
{{ govukInput({
  id: "other",
  name: "other",
  classes: "govuk-!-width-two-thirds",
  label: {
    text: "Enter job title"
  }
}) }}
{% endset %}

{{ govukRadios({
  idPrefix: "which-job-title",
  name: "which-job-title",
  fieldset: {
    legend: {
      text: "Select a job title",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "content",
      text: "Content designer"
    },
    {
      value: "content-strategist",
      text: "Content strategist"
    },
    {
      value: "graphic",
      text: "Graphic designer"
    },
    {
      value: "interaction",
      text: "Interaction designer"
    },
    {
      value: "service",
      text: "Service designer"
    },
    {
      value: "technical",
      text: "Technical writer"
    },
    {
      value: "researcher",
      text: "User researcher"
    },
    {
      value: "other",
      text: "Other",
      conditional: {
        html: otherHtml
      }
    }
  ]
}) }}

{{ govukButton({
  text: "Continue",
  href: "job-library-profession-3"
}) }}

</div>
</div>
<p><a href="/campaign-set-up/sign-out">Save and sign out</a></p>

{% endblock %}
