{% extends "layout.html" %}

{% block pageTitle %}
  Create a job advert – Civil service jobs – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'Your <a href"">feedback</a> will help us to improve.'
})}}
<ul class="js-signout" id="navigation">
  <li class="content">
    <li class="content">user@cabinetoffice.gov.uk</li>
    <li class="content">
    <a href="/search">Home</a>
    </li>
    <li class="content">
      <a href="">Save and sign out</a>
      </li>
      <li class="content">
        <a href="">Cymraeg</a>
        </li>
        </ul>
        {{ govukBackLink({
          text: "Back",
          href: "interviews"
        }) }}
        {% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% set otherHtml %}
    {{ govukInput({
      id: "other",
      name: "other",
      classes: "govuk-!-width-one-third",
      label: {
        text: "Enter the test you require. This will be confirmed by OTAP."
      }
    }) }}
    {% endset -%}

    {{ govukRadios({
      classes: "govuk-radios--inline",
      idPrefix: "tests",
      name: "tests",
      fieldset: {
        legend: {
          text: "Do you require online tests?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No"
        }
      ]
    }) }}

<div id="conditional">

{{ govukCheckboxes({
  idPrefix: "testselect",
  name: "testselect",
  fieldset: {
    legend: {
      text: "Which online tests do you require?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "Select up to 3 tests."
  },
  items: [
    {
      value: "verbal",
      text: "Verbal ability"
    },
    {
      value: "numerical",
      text: "Numerical ability"
    },
    {
      value: "behaviours",
      text: "Behaviours (CSJT)"
    }
    ,
    {
      value: "other",
      text: "Other",
      conditional: {
        html: otherHtml
      }
    }
  ]
}) }}
</div>
{{ govukButton({
  text: "Continue",
  href: "success-profiles-written"
}) }}
{{ govukButton({
  text: "Preview advert",
  classes: "govuk-button--secondary",
  href: "review-advert"
}) }}
<p><a href="/campaign-set-up/task-list">Save and return to task-list</a></p>

</div>
</div>
{% endblock %}
