{% extends "layout.html" %}

{% block pageTitle %}
  Create a job advert – Civil service jobs – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'Your <a href"">feedback</a> will help us to improve.'
})}}
<ul class="js-signout" id="navigation">
  <li class="content">
    <li class="content">user@cabinetoffice.gov.uk</li>
    <li class="content">
    <a href="/search">Home</a>
    </li>
    <li class="content">
      <a href="">Save and sign out</a>
      </li>
      <li class="content">
        <a href="">Cymraeg</a>
        </li>
        </ul>
        {{ govukBackLink({
          text: "Back",
          href: "contact-details"
        }) }}
        {% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Contract information</span>
<h1 class="govuk-heading-l">Check the recommended security clearance</h1>
    <div class="govuk-panel security-panel">
              <div class="govuk-panel__body">
                Based on the information provided the role will need<br><strong>Base BPSS security clearance</strong>
              </div>
            </div>
    {{ govukRadios({
      idPrefix: "updates",
      name: "updates",
      fieldset: {
        legend: {
          text: "Is the recommended security clearance correct?",
          isPageHeading: flase,
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: "A higher security clearance will take longer to hire"
      },
      items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No"
        }
      ]
    }) }}


{{ govukButton({
  text: "Continue",
  href: "about-the-role"
}) }}
{{ govukButton({
  text: "Preview advert",
  classes: "govuk-button--secondary",
  href: "review-advert"
}) }}
<p><a href="/campaign-set-up/task-list">Save and return to task-list</a></p>

</div>
</div>
{% endblock %}
