{% extends "layout.html" %}

{% block pageTitle %}
  Create a job – Civil service jobs – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'Your <a href"">feedback</a> will help us to improve.'
})}}
<ul class="js-signout" id="navigation">
  <li class="content">
    <li class="content">user@cabinetoffice.gov.uk</li>
    <li class="content">
    <a href="/search">Home</a>
    </li>
    <li class="content">
      <a href="">Save and sign out</a>
      </li>
      <li class="content">
        <a href="">Cymraeg</a>
        </li>
        </ul>
        {% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Create a vacancy
    </h1>

    <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Vacancy incomplete</h2>
    <p class="govuk-body govuk-!-margin-bottom-7">You have completed 0 of 15 sections.</p>

    <ol class="app-task-list">
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">1. </span> About the vacancy
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="basic-details" aria-describedby="eligibility-status">
                Basic details
              </a>
            </span>
            <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="job-entry" aria-describedby="read-declaration-status">
                Job information
              </a>
            </span>
            <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Completed</strong>
          </li>
          </ul>
          </li>
          <li>
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">2. </span> Advert set up
            </h2>
            <ul class="app-task-list__items">
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="success profiles" aria-describedby="eligibility-status">
                    Success profiles
                  </a>
                </span>
                <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
              </li>
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="about-the-role" aria-describedby="read-declaration-status">
                    About the role
                  </a>
                </span>
                <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Completed</strong>
              </li>
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="pre-sift-questions" aria-describedby="read-declaration-status">
                    Pre-qualifying questions
                  </a>
                </span>
                <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Completed</strong>
              </li>
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="additional-info" aria-describedby="read-declaration-status">
                    Additional information
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="read-declaration-status">Optional</strong>
              </li>
              </ul>
              </li>

  <li>
    <h2 class="app-task-list__section">
      <span class="app-task-list__section-number">3. </span> Recruitment methods
    </h2>
    <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="approach" aria-describedby="company-information-status">
                Approach
              </a>
            </span>
            <strong class="govuk-tag app-task-list__tag" id="company-information-status">Completed</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="approval" aria-describedby="contact-details-status">
                Approval
              </a>
            </span>
            <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">In progress</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="reserve-list" aria-describedby="list-convictions-status">
                Reserve list
              </a>
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
          </li>
          <li>
          </ul>
          </li>
    <h2 class="app-task-list__section">
      <span class="app-task-list__section-number">4. </span> Contract information
    </h2>
    <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="locations" aria-describedby="list-convictions-status">
              Locations</a>
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Not started yet</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="contract-details" aria-describedby="list-convictions-status">
              Contract details</a>
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Not started yet</strong>
          </li>

          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="contact-details" aria-describedby="list-convictions-status">
              Contact details</a>
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Not started yet</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="reserved-status" aria-describedby="list-convictions-status">
              Reserved status, checking, and vetting</a>
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Not started yet</strong>
          </li>
        </ul>
        </li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">5. </span> Sifting and selection methods
          </h2>
          <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="interviews" aria-describedby="list-convictions-status">
                Interviews</a>
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Not started yet</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="online-tests" aria-describedby="list-convictions-status">
              Online tests
              </a>
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Optional</strong>
          </li>
        </ul>
        </li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">6. </span> Review and manage
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="attraction-methods" aria-describedby="list-convictions-status">
                Attraction methods
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Not started yet</strong>
            </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="review-advert" aria-describedby="list-convictions-status">
              Review advert
              </a>
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Optional</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
<a href="vacancy-management" aria-hidden="list-convictions-status">
              Vacancy management
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
          </li>
        </ul>
</li>
</ol>
  </div>
</div>

{% endblock %}
