{% extends "layout.html" %}

{% block pageTitle %}
  Create a job advert – Civil service jobs – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'Your <a href"">feedback</a> will help us to improve.'
})}}
<ul class="js-signout" id="navigation">
  <li class="content">
    <li class="content">user@cabinetoffice.gov.uk</li>
    <li class="content">
    <a href="/search">Home</a>
    </li>
    <li class="content">
      <a href="">Save and sign out</a>
      </li>
      <li class="content">
        <a href="">Cymraeg</a>
        </li>
        </ul>
        {{ govukBackLink({
          text: "Back",
          href: "javascript:history.go(-1)"
        }) }}
        {% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<span class="govuk-caption-l">Review and manage</span>
    <h1 class="govuk-heading-l">Vacancy management</h1>
    {{ govukInput({
      label: {
        text: "Who will review the job advert?",
        isPageHeading: false,
        classes: "govuk-label--m"
      },
      classes: "govuk-input--width-20",
      id: "reviewer",
      name: "reviewer"
    }) }}

{{ govukCheckboxes({
      idPrefix: "negotiable",
      name: "negotiable",
      classes: "govuk-checkboxes--small",
      fieldset: {
        legend: {
          text: "",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "approval1",
          text: "This person needs to approve the advert"
        }
      ]
    }) }}



{{ govukButton({
  text: "Sumbit"
}) }}
<p><a href="/campaign-set-up/task-list">Save and return to task-list</a></p>

</div>
</div>
{% endblock %}
