{% extends "layout.html" %}

{% block pageTitle %}
  Create a job advert – Civil service jobs – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'Your <a href"">feedback</a> will help us to improve.'
})}}
<ul class="js-signout" id="navigation">
  <li class="content">
    <li class="content">user@cabinetoffice.gov.uk</li>
    <li class="content">
    <a href="/search">Home</a>
    </li>
    <li class="content">
      <a href="">Save and sign out</a>
      </li>
      <li class="content">
        <a href="">Cymraeg</a>
        </li>
        </ul>
        {{ govukBackLink({
          text: "Back",
          href: "javascript:history.go(-1)"
        }) }}
        {% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

{{ govukCheckboxes({
idPrefix: "interview",
name: "interview",
fieldset: {
  legend: {
    text: "What will you assess at interview?",
    isPageHeading: true,
    classes: "govuk-fieldset__legend--l"
  }
},
hint: {
  text: "Select all that apply."
},
items: [
  {
    value: "interviewExperience1",
    text: data['experience1']
  },
  {
    value: "interviewExperience2",
    text: data['experience2']
  },
  {
    value: "interviewExperience3",
    text: data['experience3']
  },
  {
    value: "interviewExperience4",
    text: data['experience4']
  },
  {
    value: "interviewExperience5",
    text: data['experience5']
  },
  {
    value: "interviewExperience6",
    text: data['experience6']
  },
  {
    value: "techInterview1",
    text: data['technical1']
  },
  {
    value: "techInterview2",
    text: data['technical2']
  },
  {
    value: "techInterview3",
    text: data['technical3']
  },
  {
    value: "techInterview4",
    text: data['technical4']
  },
  {
    value: "techInterview5",
    text: data['technical5']
  },
  {
    value: "techInterview6",
    text: data['technical6']
  }
]
}) }}

{{ govukButton({
  text: "Continue",
  href: "summary"
}) }}
{{ govukButton({
  text: "Preview advert",
  classes: "govuk-button--secondary",
  href: "review-advert"
}) }}
<p><a href="/campaign-set-up/task-list">Save and return to task-list</a></p>

</div>
</div>
{% endblock %}
