{% extends "layout.html" %}

{% block pageTitle %}
  Create a job advert – Civil service jobs – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'Your <a href"">feedback</a> will help us to improve.'
})}}
<ul class="js-signout" id="navigation">
  <li class="content">
    <li class="content">user@cabinetoffice.gov.uk</li>
    <li class="content">
    <a href="/search">Home</a>
    </li>
    <li class="content">
      <a href="">Save and sign out</a>
      </li>
      <li class="content">
        <a href="">Cymraeg</a>
        </li>
        </ul>
        {{ govukBackLink({
          text: "Back",
          href: "javascript:history.go(-1)"
        }) }}
        {% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
{{ govukCheckboxes({
  idPrefix: "behaviours",
  name: "behaviours",
  fieldset: {
    legend: {
      text: "What criteria will you assess via online tests?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "Select up to 3."
  },
  items: [
    {
      value: "verbal",
      text: "Verbal skills"
    },
    {
      value: "numerical",
      text: "Numeracy skills"
      },
      {
        value: "judgement",
        text: "Judgement skills"
        },
        {
          value: "management",
          text: "Management judgement skills"
          },
          {
            value: "strengths",
            text: "Strengths"
            },
            {
              value: "customer-service",
              text: "Customer service skills"
              },
              {
                value: "casework",
                text: "Casework skills"
                }
  ]
}) }}

{{ govukButton({
  text: "Continue",
  href: "technical"
}) }}
{{ govukButton({
  text: "Preview advert",
  classes: "govuk-button--secondary",
  href: "review-advert"
}) }}
<p><a href="/campaign-set-up/task-list">Save and return to task-list</a></p>

</div>
</div>
{% endblock %}
