{% extends "layout.html" %}

{% block pageTitle %}
  Create a job advert – Civil service jobs – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'Your <a href"">feedback</a> will help us to improve.'
})}}
<ul class="js-signout" id="navigation">
  <li class="content">
    <li class="content">user@cabinetoffice.gov.uk</li>
    <li class="content">
    <a href="/search">Home</a>
    </li>
    <li class="content">
      <a href="">Save and sign out</a>
      </li>
      <li class="content">
        <a href="">Cymraeg</a>
        </li>
        </ul>
        {{ govukBackLink({
          text: "Back",
          href: "javascript:history.go(-1)"
        }) }}
        {% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-l">What technical skills will you assess?</h1>

  {{ govukInput({
    label: {
      text: "Technical skill 1"
    },
    id: "technical skill 1",
    name: "technical skill 1"
  }) }}
  {{ govukInput({
    label: {
      text: "Technical skill 2 (optional)"
    },
    id: "technical skill 2",
    name: "technical skill 2"
  }) }}
  {{ govukInput({
      label: {
        text: "Technical skill 3 (optional)"
      },
      id: "technical skill 3",
      name: "technical skill 3"
    }) }}
{{ govukButton({
  text: "Continue",
  href: "interview"
}) }}
{{ govukButton({
  text: "Preview advert",
  classes: "govuk-button--secondary",
  href: "review-advert"
}) }}
<p><a href="/campaign-set-up/task-list">Save and return to task-list</a></p>

</div>
</div>
{% endblock %}
