
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        CS Jobs prototype
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      <h2 class="govuk-heading-l">Continuous improvement</h2>
      <p>
        {{ govukButton({
          text: "CS Jobs",
          href: "/continuous-improvement"
        }) }}
          </p>

          <h2 class="govuk-heading-l"><a href="campaign-set-up/start">Transformation</a></h2>
          <p>
            {{ govukButton({
              text: "Campaign set up",
              href: "/campaign-set-up/index"
            }) }}
              </p>
              <p>
                {{ govukButton({
                  text: "Sift",
                  href: "/sift/index"
                }) }}
                  </p>


    </div>
  </div>

{% endblock %}
