{% extends "layout.html" %}

{% block pageTitle %}
  Profile – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'Your <a href"">feedback</a> will help us to improve.'
})}}
<ul class="js-signout" id="navigation">
  <li class="content">
    <li class="content">user@cabinetoffice.gov.uk</li>
    <li class="content">
    <a href="/search">Home</a>
    </li>
    <li class="content">
      <a href="">Sign out</a>
      </li>
      <li class="content">
        <a href="">Cymraeg</a>
        </li>
        </ul>
        {{ govukBackLink({
          text: "Back",
          href: "javascript:history.go(-1)"
        }) }}
        {% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


<h1 class="govuk-heading-l">Welcome back, Jane Smith</h1>
</div>
</div>
<div class="govuk-grid-row">
<div class="govuk-grid-column-one-third">
<h2 class="govuk-heading-m"><a href="campaign-set-up/job-title-known">Create a vacancy</a></h2>
<h2 class="govuk-heading-m"><a href="sift/all-vacancies">View all vacancies and sift candidates</a></h2>
<h2 class="govuk-heading-m"><a href="sift/interivews">Check upcoming interviews</a></h2>
<h2 class="govuk-heading-m"><a href="profile-update">Update profile</a></h2>
<h2 class="govuk-heading-m"><a href="campaign-set-up/step-by-step">Read guidance</a></h2>
</div>
<div class="govuk-grid-column-two-thirds">
  <h3 class="govuk-heading-m">Notifications</h3>
  <p>All panel members have submitted their scores for <a href="sift/1001334-sifted">vacancy 1001334 - Lead Delivery Manager</a>.
  <a href="sift/1001334-panel-results">Review the scores</a>.</p>
  <p class="govuk-body-s">3 September 2022</p>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <p><a href="sift/1001334">Vacancy 1001334 - Lead Delivery Manager</a> is now live.</p>
  <p class="govuk-body-s">23 August 2022</p>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <p>Approval for <a href="sift/1001334">vacancy 1001334 - Lead Delivery Manager</a> has been confirmed.</p>
  <p class="govuk-body-s">22 August 2022</p>
</div>
</div>


{% endblock %}
